[2014-08-20 10:44] gurneyalex opened #10 "remove dependency on addons-vauxoo"
There are addons in there with dependencies on addons-vauxoo (cf. travis configuration).

Either the dependency must be ported to OCA, or thes addons must be removed from the repository.

[2014-08-20 13:24] nhomar commented on #10
Hello Friend.
Which addons depends of addons-vauxoo ones?

[2014-08-20 13:30] pedrobaeza commented on #10
Hi, Nhomar,

Module _product_customer_code_invoice_ depends on _product_customer_code_, which is in your repository, but I think there isn't any other dependency.

Regards.

[2014-08-20 13:33] nhomar commented on #10
Ok Got it.

These both modules were migrated to OCA:

https://github.com/OCA/product-attribute/tree/7.0/product_customer_code

That's the product_customer_code in OCA already.

Regards.

[2014-08-20 13:41] pedrobaeza commented on #10
Please remove it from your repository then to avoid that apps.openerp.com points to it.

[2014-08-20 13:45] nhomar commented on #10
I will edit the website of the module,

I can't just remove it from my branch because I can brake my internal installation/update processes in my customers.

What do you propose dude?

[2014-08-20 14:45] pedrobaeza commented on #10
For the moment, please review PR that changes dependency.

About your installations, can you add product-attribute branch in them?

[2014-08-20 14:55] nhomar commented on #10
Ok I am waiting for travis.

about my installations:

Yes, That's a WiP we are migrating all our platform to github, not ready yet, we were 100% on Launchpad and weverything over it :-(. Let's left open this issue until I solve that there.....

[2014-08-21 06:35] #10 closed, assigned to nhomar

[2015-01-22 14:08] Cedric-Pigeon opened #37 "[8.0] account_invoice_merge migration"
For information, I am starting the migration of account_invoice_merge to Odoo 8.0

[2015-01-23 13:24] rdeheele opened #39 "[6.1/7.0] invoice_validation_wkfl: draft to cancel transition is broken"
the invoice_validation_wkfl addon breaks the transition between draft and cancel states
because
https://github.com/OCA/account-invoicing/blob/7.0/invoice_validation_wkfl/invoice_wkf.xml#L42
overwrites
https://github.com/odoo/odoo/blob/7.0/addons/account/account_invoice_workflow.xml#L68

[2015-02-02 15:05] fclementic2c opened #42 "[8.0] account_invoice_merge - SO paid checkbox do not work"
I just did a quick test. I created 2 SO with an invoicing policy : on delivery. I delivered and generate invoices.

I merged the 2 invoices (with same partner)...fine

But on the SO the check box 'Paid' is not checked.

Is it an know issue ?

Thanks

Frederic

[2015-02-02 20:38] pedrobaeza commented on #42
I suppose that in your explanation, you're missing that after merging then, you have paid the resulting invoice, doesn't it?

[2015-02-06 12:15] yvaucher commented on #39
Fixed by #40

[2015-02-06 12:15] #39 closed, assigned to nobody

[2015-02-10 20:59] #37 closed, assigned to nobody

[2015-02-10 21:00] sbidoul commented on #37
PR #41

[2015-02-11 07:28] fclementic2c commented on #42
Yes I did. You're right.

[2015-02-25 12:26] feketemihai opened #52 "Invoice Fiscal Position Update doesn't work ok - Anglo Saxon Accounting"
In anglo saxon accounting when you invoice a reception (receipt) from stock, the account is put as the stock input account in the invoice line...if you change the fiscal position the account is changed to the expense account instead to remain to the stock one...I will prepare a patch for the supplier invoice to take the account already in the invoice line and to map it from fiscal position, if you

[2015-05-06 14:20] nacho22martin opened #76 "account_invoice_force_number"
Odoo version 8.0 / Ubuntu 14.10

I've install account_invoice_force_number module and it won't show me the "force number" option on my invoice form.

[2015-06-17 22:40] george-andrei opened #83 "account_invoice_shipping_address Can't create invoice from delivery"
Hello,

First I wanted to thank you for this brilliant module!
Unfortunately I've run into some problems, I think it's a bug because I tried different methods to get it done, and nothing worked.

So here is my problem, when I try to generate the invoice from the delivery I get this error:

  File "/opt/odoo/addons/account_invoice_shipping_address/stock.py", line 32, in _get_invoice_vals
    if pic

[2015-06-25 09:07] eLBati commented on #83
Hello,
I am not able to generate the error on
http://2949055-81-ba9638.runbot2.odoo-community.org
I created SO008, WH/OUT/00007 and SAJ/2015/006 without errors

What versions are you using? What are the steps to reproduce the problem on a new DB?
Thanks

[2015-07-09 12:42] clonedagain opened #89 "stock_picking_invoicing is not useful anymore"
`stock_picking_invoicing` lets us change the invoice state on pickings, but the standard now lets us do that without a module since https://github.com/odoo/odoo/commit/cdce2e22837e6beafb3f2d8584f8c125bdaba596 .

[2015-07-09 12:43] clonedagain commented on #89
@eLBati @lepistone @tafaRU did I miss something?

[2015-07-09 13:51] eLBati commented on #89
@clonedagain  I think we missed that change, actually.
Thanks for pointing it out

I just tested the functionality you indicate and I see 2 limitations:
- It's possible to invoice several times the same picking
- Invoiced partner is always the same as the picking's one: the invoicing wizard does not retrieve the 'to be invoiced' partner (by the way, see https://github.com/OCA/account-invoicing/pul

[2015-07-09 14:13] clonedagain commented on #89
Indeed.
I think those 2 problems ought to be fixed upstream directly.

[2015-07-14 07:59] siewemarcelin commented on #76
I can't install account_invoice_force_number module.  It generated me this error during installation:
ParseError: "ValidateError
Field(s) `arch` failed against a constraint: Invalid view definition

Error details:
Element '<field name="internal_number">' cannot be located in parent view

Error context:
View `account.invoice.form.int_number`
[view_id: 1329, xml_id: account_invoice_force_number.acco

[2015-07-15 15:25] eLBati commented on #76
Hello,
just went to
http://3110858-8-0-edfe5e.runbot1.odoo-community.org
selected `3110858-8-0-edfe5e-base` DB and installed the module without problems.
Then, I created invoice `12345` forcing its number using this module.

Please be sure you are using the last revision of https://github.com/OCA/account-invoicing and https://github.com/odoo/odoo

Thanks

[2015-07-15 15:25] #76 closed, assigned to nobody

[2015-08-14 14:45] #83 closed, assigned to nobody

[2015-10-14 00:19] pedrobaeza opened #109 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [ ] account_group_invoice_lines
- [x] account_invoice_check_total - By @ThomasBinsfeld - #162
- [ ] account_invoice_customer_ref_unique
- [ ] account_invoice_force_number
- [ ] account_invoice_line_description
- [ ] account_invoice_line_sort
- [x] account_invoice_merge - By @BT-hstoeckle - #209
- [

[2015-12-14 22:33] dolcey opened #115 "account_invoice_validation_workflow v8 - Lost buttons"
When installing the module, the buttons are lost when you see the bill:   "Send to Email", "Register payment" and "Reintegrating invoice".

To correct this, I uninstall the module, and buttons appear again.

I think a budget, do valid, confirmed the sale, and I believe the bill, so far, so good, the problem is when I go to validate it, to click on "Validate" does nothing. It is like nothing to val

[2015-12-19 21:51] lapagept opened #118 "Why to make a cash rounding if the payment is not in cash?"
Hello guys,

As you know, in Sweden and in Canada, they do cash rounding (https://en.wikipedia.org/wiki/Cash_rounding).

In those two countries cash rounding is applied only to purchase paid in CASH. Not to purchase paid with check or credit card.

So, I have installed the module account_invoice_rounding in my Odoo 8.0 (https://github.com/OCA/account-invoicing/tree/8.0/account_invoice_rounding).

[2015-12-23 03:06] lapagept opened #119 "Why do I get this error without install the module ????"
I just update module list in many of my Odoo 8 installations.
I click on the account_invoice_rounding module in the module list, without install it. And this error appears in the log :

[code]

[2015-12-24 11:43] dimitrisand opened #120 "Can't group by account if the entry is from pos"
Can't group by account if the entry is from pos. If the entry is from Sales (different journal)everything is OK

[2015-12-24 11:45] pedrobaeza commented on #120
Please document correctly the issue as when you click in the bug tracker section:
- module
- version
- Steps to reproduce
- Current behavior
- Expected behavior

[2015-12-24 20:07] lapagept commented on #119
Error was due to the description in the file **openerp**.py.

[2015-12-24 20:07] #119 closed, assigned to nobody

[2015-12-24 20:18] lapagept opened #121 "I get this error when I uninstall the module and I go in"
Hello there,
When I install the module, then I go in settings -> Configuration -> Invoicing, all is right and I see the new fields from your module.
But when I after uninstall the module, and after I go in settings -> Configuration -> Invoicing, get this error :::

[code]

[2015-12-27 19:09] lapagept commented on #121
In the res.company table, I had the value "swedish_add_invoice_line" in the "tax_calculation_rounding_method". I have deleted this value, an now, I can click on settings -> Configuration -> Invoicing without any error.

[2015-12-27 19:09] #121 closed, assigned to nobody

[2016-02-24 06:16] jaronemo opened #132 "Account invoice merge module need fix"
Dears

When select inovice merge ...
tax no automatic update...
product no automatic group

It does not seem consistent with the behavior of most of the practice

[2016-03-04 11:55] ghost commented on #109
@pedrobaeza I will start by migrating account_invoice_shipping_address :)

[2016-03-04 12:07] pedrobaeza commented on #109
Cool, I have written it in the summary

[2016-03-11 11:15] droelneo opened #139 "Copy link with sale order lines does not work"
In the last part of the do_merge function, the test on self.env['sale.order'] is always False as the object is void.
So, the link with sale order lines is always lost !

[2016-03-11 11:17] pedrobaeza commented on #139
Can you point to the line? I have made a recent PR to fix another thing of this module (https://github.com/OCA/account-invoicing/pull/138) and I can include this patch as well.

[2016-03-11 11:19] droelneo commented on #139
From line 193 :

[code]

[2016-03-11 11:21] pedrobaeza commented on #139
Reading code, I see no problem. Are you sure it doesn't work?

[2016-03-11 11:23] droelneo commented on #139
The problem is when you assign so_obj = self.env['sale.order'] and the test you do after.

When you test 'if so_obj' will always return False (as it is void)

[2016-03-11 11:28] droelneo commented on #139
The test should (for me) become

-- if obj :
++ if 'sale.order' in self.env.registry:

[2016-03-11 12:19] laetitia-gangloff commented on #139
@droelneo the assignation is done on two lines :

[code]

So so_obj is False if sale.order is not in the registry

[2016-03-11 12:23] pedrobaeza commented on #139
But he is right, self.env['sale.order'] is evaluated as False. I'll change it.

[2016-03-11 12:30] droelneo commented on #139
Thank you @pedrobaeza  !

The object is 'recordset' now, and a void recordset is evaluated as False ;-)

[2016-03-11 13:09] laetitia-gangloff commented on #139
Oh ! I learn something, thank you :)

[2016-03-13 11:54] pedrobaeza commented on #139
Solved in https://github.com/OCA/account-invoicing/commit/e795b6717bfce340d2f178e4754f290eb95bed79, in the PR https://github.com/OCA/account-invoicing/pull/138

[2016-03-19 18:38] flotho commented on #89
Hi,

I supposed we are talking about the v8? In v9 it's no more possible to invoice picking

[2016-03-19 18:39] pedrobaeza commented on #89
We are talking about v8, and I agree that this module is not needed anymore.

[2016-03-19 18:39] flotho commented on #109
Hi,

I'm about to rewrite the stock_pricking_invoice part. As there is no more invoicing defined neither on picking nor on moves everything has to be rewrite

[2016-03-19 18:40] pedrobaeza commented on #109
Good idea. You can incorporate https://github.com/OCA/account-invoicing/tree/8.0/stock_picking_invoicing_unified logic to this module.

[2016-03-19 18:42] flotho commented on #109
Hi @pedrobaeza

Do you confirm my analysis, no more invoicing is available on stocks move, pickings etc...

[2016-03-19 18:48] pedrobaeza commented on #109
Yeah, I checked that for the commission modules, and sadly there's no more picking invoicing (or it's very hidden, but I don't think so).

[2016-03-19 18:54] flotho commented on #109
so You could reference this : https://github.com/OCA/account-invoicing/pull/140

[2016-03-19 19:01] pedrobaeza commented on #109
Thanks! Written in the main section. Another feature you can take into account is https://github.com/OCA/stock-logistics-workflow/pull/193

[2016-03-19 19:11] flotho commented on #109
@pedrobaeza ,

What is the advice for refrencing part of odoo work in this module? Do I need to specify what parts are concerned or is it sufficient to add Odoo SA in the contributors?

[2016-03-19 19:18] pedrobaeza commented on #109
You just have to reference it on contributors/header copyright, and put a disclaimer similar like this link on the README: https://github.com/OCA/maintainer-tools/blob/master/CONTRIBUTING.md#backporting-odoo-modules

[2016-03-20 11:14] flotho commented on #89
So what should be the new name of my module in v9? Won't it be some conflicts if you delete it from v8 and still existing in v9?

[2016-03-20 11:26] pedrobaeza commented on #89
I don't think so. There's no problem in putting the same name across versions although there's one without use.

[2016-03-22 08:43] jcoux commented on #109
Hi,
I will work on `account_payment_term_extension` module.

[2016-03-22 09:01] pedrobaeza commented on #109
@jcoux, there are now 2 modules in OCA about payment terms. Please see also https://github.com/OCA/account-payment/tree/8.0/account_payment_term_multi_day and see if both can be merged in one or which one is more suitable before making the migration.

[2016-03-22 16:23] jcoux commented on #109
@pedrobaeza, thanks for your informations.
@gurneyalex needs of my migration quickly.
So, I have not enough time to merge both modules in one.
I have migrated the `account_payment_term extension` module on the PR https://github.com/OCA/account-invoicing/pull/141

[2016-04-08 08:12] lepistone opened #145 "8.0 travis build is red"
Problems started with a translation commit, so they are probably due to something outside this repo.

[2016-04-08 08:12] lepistone opened #146 "8.0 runbot build is red"

[2016-05-10 08:44] sandrafig commented on #115
I don't know what the purpose of this module is.

When I create a new invoice, only two buttons show up: **Cancel invoice** and **To Validation**.
If I click on **To Validation**, the state of the invoice changes to "To Validate" but I cannot validate it because I only have one button, which is **"Invoice To Send"**, so I click on it and now I cannot send it by email but I can finally Validate it.

[2016-05-10 13:47] dolcey commented on #115
Sandra, el propósito hasta donde lo he usado es agregar más pasos a la validación, y así evitar una validación accidental.

El botón de enviar por correo se ha perdido por falta de una linea en la vista heredad añadida por el módulo, en mi caso, tuve que crear otra heredada de la que crea el módulo y colocar el botón.

Espero esta información te sirva.

[2016-05-13 15:40] flotho commented on #109
Hi,
I think this one could be reviewed: https://github.com/OCA/account-invoicing/pull/152

[2016-05-14 19:08] bc24fl opened #153 "account_payment_term_extension - help"
Disregard

[2016-06-28 14:14] max3903 opened #159 "[9.0] account_invoice_analytic_cogs"
# Analytic lines for the cost of goods sold (COGS)

This module creates the analytic lines of the cost of goods sold when the customer invoice/refund is validated.
# Dependencies
- account_accountant
- stock
# Configuration

In Accounting / Configuration / Settings
- Enable Analytic accounting
- Enable Analytic accounting for sales

In your company, check the anglo-saxon accounting box

In your pr

[2016-07-18 23:04] quintanapablo commented on #109
Where can I find a guide, training, lecture, video, etc. on what is required to migrate a module to the 9.0 branch. I want to help but need the very basic guidelines. Thanks!

[2016-07-29 15:08] gurneyalex commented on #109
@quintanapablo ask on the contributors mailing list (contributors at odoo-community.org)

[2016-08-18 13:05] ghost opened #175 "MULTIPLE VALUES FOR account.invoice.global_round_line_id: account.invoice.line"
module: account_invoice_rounding
version: 8.0

**Steps to reproduce**
- make a sale order with multiple lines having subtotal in decimals (eg. 656.35,585.25)
  -confirm the sale order with field Create Invoice field = on delivery order and create the invoice from delivery order

**Current behavior**
error raised
**Expected behavior**
as with only one sale line created

[2016-10-03 12:24] adrienpeiffer opened #185 "[8.0] travis build is red"
https://travis-ci.org/OCA/account-invoicing/branches

[2016-10-03 12:25] adrienpeiffer commented on #185
I'm on it

[2016-10-04 07:49] eLBati opened #186 "8.0 account_invoice_merge_purchase tests broken"
[code]

[2016-10-04 07:52] eLBati commented on #186
Duplicated of https://github.com/OCA/account-invoicing/issues/185

[2016-10-04 07:52] #186 closed, assigned to nobody

[2016-10-11 12:12] pedrobaeza opened #194 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [x] account_group_invoice_lines - By @alexis-via - #208
- [x] account_invoice_blocking - By @adrienpeiffer - #197
- [x] account_invoice_check_total - By @adrienpeiffer - #195
- [ ] account_invoice_customer_ref_unique - By @aheficent - #257
- [x] account_invoice_force_number - By @tafaRU  - #242
-

[2016-11-07 12:42] gurneyalex commented on #185
thanks for taking care of this. Do you need help?

[2016-11-25 10:54] ccandito opened #206 "Account invoice block"
Dear All,
I've implemented it on version 9.0.
The indicator "no follow up" on vendor bills appears.
I've set it.
Unfortunately, the payment was still possible.
The expected behavior could be the payment is forbidden with this indicator.
Regards
claudio candito

[2016-11-26 15:06] legalsylvain commented on #185
Still failing.  Do you need help ?

[2017-01-23 10:42] sebytza05 opened #221 "AttributeError: 'tuple' object has no attribute 'keys' when merging two invoices"
Hello guys,
I recieved this error when i try to merge 2 invoices, can you please help me solve this issue.

Traceback (most recent call last):
  File "/opt/bitnami/apps/odoo/lib/odoo-8.0_a2115ef-py2.7.egg/openerp/http.py", line 517, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/bitnami/apps/odoo/lib/odoo-8.0_a2115ef-py2.7.egg/openerp/http.py", l

[2017-01-23 11:00] ljsalvatierra-binovo opened #222 "[8.0] Invoice merge validation v8"
**Warning**
[code]

**account_invoice_merge/wizard/invoice_merge.py**
[code]

**openerp/models.py**
[code]

[2017-01-28 11:47] pangoSE commented on #109
Hi. I understood that the swedish functional consultants vertel are aiming for jumping over a version when upgrading existing customers (e.g. 8.0 -> 10.0). Is this common? Can this explain the relatively meager effort to migrate to 9.0 that we have seen so far?

[2017-01-28 11:54] pedrobaeza commented on #109
This issue is only for tracking assignments on the migration tasks, so please don't start philosophical discussions about versions and so on. There are forums and mailing lists for that.

[2017-02-09 16:06] pangoSE commented on #109
Ok :)

[2017-03-02 00:35] antoniocanovas commented on #221
Same error for me.
Any idea?

[2017-03-13 09:16] soinel commented on #221
I am in the same case.
Have you solved it?

Odoo Server Error
Traceback (most recent call last):
  File "/opt/admin/admin-server/openerp/http.py", line 544, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/admin/admin-server/openerp/http.py", line 581, in dispatch
    result = self._call_function(**self.params)
  File "/opt/admin/admin-server/opene

[2017-03-13 14:28] yveshoyos opened #234 "Review of the onchange on fiscal position"
In module: account_invoice_fiscal_position_update
File: models/invoice.py

There is a little bug when working with tax VAT included.
The price used is the product_price (VAT included), and not the base.

Odoo already handle this, so I suggest to replace the code by:

[code]

Thanks

[2017-03-13 15:22] pedrobaeza commented on #234
Please make the corresponding PR.

[2017-03-13 18:57] geekobi opened #235 "merge invoices do not work due to commit f333de21ce2878b40f2e5729d8c216c9d9303f07"
Hi,
the commit ( @luc-demeyer luc-demeyer committed with pedrobaeza on 21 Jan, f333de21ce2878b40f2e5729d8c216c9d9303f07)
changed the return value of do_merge(...) from account_invoice_merge/models/account_invoice.py :

It was : return invoices_info
and it becomed : return invoices_info, invoice_lines_info
(last line : 221)

but, account_invoice_merge/wizard/invoice_merge.py in merge_invoices(self)

[2017-03-13 20:30] alexis-via commented on #234
I don't understand what's the problem here: account_invoice_fiscal_position_update only changes the taxes and the account, but it doesn't modify the price (and I don't think it should). So what is the problem exactly ?

[2017-03-14 09:20] yveshoyos commented on #234
Here is an example:

I'm from Belgium, so I'll use a Belgium VAT of 21%

Suppose a product computer. The price is 1210€ VAT included.
When you create the invoice for one cumputer:

*Product  *      *Unit Price*        *Quantity*        *Taxes*        *Sub
total (VAT Excluded)*
Computer       1210              1               21%          1000

*                                           Total (Net

[2017-03-14 10:27] luc-demeyer commented on #235
@geekobi
PR https://github.com/OCA/account-invoicing/pull/220 fixes it, hence it's best that you run with that code until this PR is merged.

[2017-03-14 22:43] alexis-via commented on #234
OK, why not... but the native onchange on the fiscal position of the sale order doesn't do that. If we do it for invoices, we should do it everywhere (invoice + sale order + purchase order)

[2017-03-18 07:23] scigghia opened #239 "[8.0] account_invoice_shipping_address wrong partner"
this module in presence of stock_transport_multi_address should transfer the invoice shipping address using right field delivery_address_id from stock.picking

maybe we could add stock_transport_multi_address dependency and use delivery_address_id as proposed

https://github.com/OCA/account-invoicing/blob/8.0/account_invoice_shipping_address/stock.py#L33

[2017-03-23 09:57] #139 closed, assigned to nobody

[2017-03-23 09:58] #153 closed, assigned to nobody

[2017-03-23 09:59] pedrobaeza commented on #145
Duplicated (although still not solved), but I close this one.

[2017-03-23 09:59] #145 closed, assigned to nobody

[2017-03-23 09:59] pedrobaeza commented on #132
Solved in later commits.

[2017-03-23 09:59] #132 closed, assigned to nobody

[2017-03-23 10:02] pedrobaeza commented on #89
I have removed the module from branches.

[2017-03-23 10:02] #89 closed, assigned to nobody

[2017-03-23 10:02] pedrobaeza commented on #52
Is this still happening?

[2017-03-23 10:03] pedrobaeza commented on #206
This modules is working as expected. It can be a module conflict. Please try to reproduce it on runbot and then specify the steps. I close this meanwhile.

[2017-03-23 10:03] #206 closed, assigned to nobody

[2017-03-23 10:04] pedrobaeza commented on #118
This is out of the scope of the module, so an improvement should be done for covering that.

[2017-03-23 10:04] #118 closed, assigned to nobody

[2017-03-23 10:05] pedrobaeza commented on #42
Is this still happening with latest version?

[2017-03-23 10:05] pedrobaeza commented on #222
Solved already.

[2017-03-23 10:05] #222 closed, assigned to nobody

[2017-03-23 10:05] pedrobaeza commented on #221
Is this still happening with latest version?

[2017-03-23 10:21] sebytza05 commented on #221
Yea, it is still happening or i do something wrong.

[2017-03-24 10:26] ljsalvatierra-binovo commented on #222
Thank you! Do you have an ETA on when will it be merge?

[2017-03-24 10:51] pedrobaeza commented on #222
Follow https://github.com/OCA/account-invoicing/pull/227 and review it for speeding up the process

[2017-03-27 15:17] danielduqma commented on #221
I'm also having this problem with latest commit from branch 8.0

[2017-03-29 07:54] ccandito opened #244 "total amount invoice doesn't appear in version 10"
Dear All,
After installing the module the total amount does not appear at header level in vendor invoice screen.
I'm working on version 10 and in version 9.0 this feature worked out perfectly.
Regards
thanks in advance
claudio candito

[2017-03-29 08:04] pedrobaeza commented on #244
Which module? Is migrated?

[2017-03-29 08:06] ccandito commented on #244
no, it has been implemented from scratch
Regards
claudio candito

[2017-04-02 10:51] NL66278 commented on #185
Red Travis can be solved with this PR (that has become a little broader then the title suggests, just in order to fix Travis): https://github.com/OCA/account-invoicing/pull/215
After merging this (please review!), other PR's should be rebased....

[2017-04-02 10:58] pedrobaeza commented on #185
I close this issue then and proceed to review + merge this one.

[2017-04-02 10:58] #185 closed, assigned to adrienpeiffer

[2017-04-04 09:10] leemannd commented on #194
@pedrobaeza Port of account_invoice_rounding here https://github.com/OCA/account-invoicing/pull/212

[2017-04-04 09:12] pedrobaeza commented on #194
OK

[2017-04-04 09:58] leemannd commented on #194
@pedrobaeza Sorry, it's https://github.com/grindtildeath/ who is doing it.

[2017-04-04 10:02] pedrobaeza commented on #194
OK, fixed

[2017-04-14 14:43] misern2 commented on #194
@pedrobaeza I think that  account_invoice_zero_autopay module is no longer needed in V10.

[2017-04-14 19:38] pedrobaeza commented on #194
@misern2 can you point to the code in Odoo that makes that?

[2017-04-14 22:24] misern2 commented on #194
Reviewing the code, I found out the reconciled field in the account model. This field is a computed field according the following function :

 https://github.com/odoo/odoo/blob/ea2faefe0d6a4a6063d48fc2cda8d7071d9eefa4/addons/account/models/account_invoice.py#L88-L107

After that, the _write function marks as paid all the reconcilied invoices.

https://github.com/odoo/odoo/blob/ea2faefe0d6a4a6063d4

[2017-04-20 10:15] JRaiml commented on #175
Anyone solved this issue..

[2017-04-21 08:22] renzo1974 opened #258 "[8.0] Exception on merge of supplier invoice with partial delivery of PO"
When merging two supplier invoices, where at least one invoice contains only some positions of a purchase order, an exception is occured:

File "/var/lib/odoo/addons/account-invoicing/account_invoice_merge_purchase/models/account_invoice.py", line 35, in do_merge
    new_invoice_id][org_iline.id])
KeyError: 73

[2017-05-03 12:26] thomich commented on #221
for your records.. and if anyone will solve it here:

![selection_001](https://cloud.githubusercontent.com/assets/4398840/25660351/1dd84496-300c-11e7-88f5-765174ee8929.png)

why not doing a PR? cause there are 23 [8.0] PR's still open and seams this module is just waiting for end of life...

[2017-05-10 14:52] Jerther commented on #194
I believe **invoice_shipping_address** should be obsolete and not migrated in v10 (v9 also?) since Odoo can already do this. See [here](https://www.odoo.com/documentation/user/9.0/sales/quotation/setup/different_addresses.html).

[2017-05-10 17:42] pedrobaeza commented on #194
@Jerther it's not the same feature. Please check module readme.

[2017-05-10 17:53] Jerther commented on #194
Oh, you're right. The field itself, Odoo takes care of it but I missed the sale.py and stock.py modules which could be migrated indeed.

[2017-05-22 09:09] angedras commented on #194
Started migration of product_customer_code_invoice for 10.0
Depends on: [#236](https://github.com/OCA/product-attribute/pull/236)

[2017-05-31 07:50] gurneyalex commented on #258
fixed by #268

[2017-05-31 07:50] #258 closed, assigned to nobody

[2017-06-08 16:10] robertobarreiro opened #272 "account_invoice_merge: Error on V8.0.2.0.0"
I can't merge 2 customer refund invoices. Them have same partner, currency, salesman, salesman team, journal, and account. The status of both invoices is draft. I get this error on mergin:

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/openerp/http.py", line 544, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/pyt

[2017-06-08 16:42] pedrobaeza commented on #272
Have you tried with https://github.com/OCA/account-invoicing/pull/271?

[2017-06-14 09:35] robch2342 opened #277 "[8.0] account_invoice_merge_purchase KeyError when merging"
If a purchase order has several invoices attached to it, and you try to merge one (but not all) of those invoices, you will get a KeyError.

2017-06-14 06:52:58,021 2574 ERROR dermanord_11juni openerp.http: Exception during JSON request handling.
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/openerp/http.py", line 544, in _handle_exception
    return super(JsonRequest

[2017-08-18 07:04] elicoidal opened #304 "Strange directories in repos"
Should we be worried about:
https://github.com/OCA/account-invoicing/tree/8.0/account_invoice_default_company_bank_partner/i18n
https://github.com/OCA/account-invoicing/tree/8.0/account_invoice_default_company_bank_repair/i18n
https://github.com/OCA/account-invoicing/tree/8.0/account_invoice_default_company_bank_sale/i18n

They seem empty except for some PO files?

[2017-08-18 07:05] elicoidal commented on #304
@tafaRU @alexis-via @pedrobaeza

[2017-08-18 07:18] pedrobaeza commented on #304
This is a weird side effect of Transifex scripts. I haven't been able to fully trace the problem, but as we are deprecating it, just remove the folders and remove the resources on Transifex.

[2017-08-18 07:33] elicoidal commented on #304
@pedrobaeza OK. I will make a PR

[2017-08-18 07:38] elicoidal commented on #304
Fixed by #305

[2017-08-22 11:03] pedrobaeza commented on #272
No answer, so I close.

[2017-08-22 11:03] #272 closed, assigned to nobody

[2017-08-22 11:04] #304 closed, assigned to nobody

[2017-08-22 11:05] pedrobaeza commented on #239
Closing as there's a PR for fixing this.

[2017-08-22 11:05] #239 closed, assigned to nobody

[2017-08-22 11:05] pedrobaeza commented on #244
You haven't still said the module. I close due to lack of information.

[2017-08-22 11:05] #244 closed, assigned to nobody

[2017-08-31 16:21] JordiBForgeFlow opened #310 "[RFC][account_invoice_line_discount_fixed_amount]"
This is an RFC proposing an approach to handing fixed amount discounts in invoices.
See https://github.com/OCA/sale-workflow/issues/521 for fixed amount discount in sales order lines.

Account Invoice Line Discount Fixed Amount
==================================
* Introduces a 'Discount (Fixed amount)'
* A user cannot enter both a 'Discount (%)'  and 'Discount (Fixed amount)'  (constraint).
* The

[2017-08-31 16:23] pedrobaeza commented on #310
@sergio-teruel shouldn't we have this for product prices (percentage or fixed price)?

[2017-08-31 16:24] JordiBForgeFlow commented on #310
@pedrobaeza What do you mean for product prices? What product is defined as percentage?

[2017-08-31 16:28] pedrobaeza commented on #310
For PrestaShop, you can define sales price as a fixed amount or percentage of cost price. The problem with this comes from rounding errors.

[2017-08-31 16:34] JordiBForgeFlow commented on #310
Well, how do you define discounts in prestashop? I am dealing with an integration with Drupal Commerce, where the discount comes as a fixed amount. In the magento connector they have a similar issue, but they translate a fixed amount discount to a % discount in Odoo. https://github.com/guewen/connector-magento/blob/2eb2310476e4a7e9035435e424179b15d1cf458e/connector_magento/models/sale_order/import

[2017-08-31 16:38] pedrobaeza commented on #310
I don't remember if it was PrestaShop or other source, but it's something similar. You will have rounding issues any way, but that's why sale_exception exists.

[2017-08-31 16:42] JordiBForgeFlow commented on #310
@pedrobaeza Why do you mean that sale_exception occurs? In the end you have rounding errors between Odoo and the ecommerce, so I cannot see where sale_exception would help.

On the other side having the ability to add a fixed discount is often needed.

[2017-08-31 16:44] pedrobaeza commented on #310
sale_exception is for the cases where there's a rounding error, and thus the sales order total amount is not the same as the sum of line subtotals. If I don't remember bad, Magento connector uses this module for finding the error.

[2017-08-31 16:48] JordiBForgeFlow commented on #310
@pedrobaeza but you you agree on the need for this module?

[2017-08-31 16:49] pedrobaeza commented on #310
Yes, but please include a security group for displaying these fields by user.

[2017-08-31 17:23] sergio-teruel commented on #310
About product price, we had rounding errors with taxes calculation with products with taxes includes...

[2017-09-20 07:07] JonathanNEMRY opened #312 "Account_invoice_merge new features??"
Hello, I need a custom use case from the module account_invoice_merge and I am currently asking myself if this case could be integrated into the community. Here it is:
[code]
With the current account_invoice_merge you can not merge those invoices because the  partners are differents.
But if you take in consideration that after the merging effect we 'd like to have an invoice only for Asusteck comp

[2017-09-20 07:10] pedrobaeza commented on #312
You can add a new option in the merge dialog for allowing that behavior, and modify code according that option.

[2017-09-20 07:14] JonathanNEMRY commented on #312
Hello @pedrobaeza  that was the idea, adding a boolean into the wizard making possible to allow diffrent partner if they have the same parent_id. I will run on this way if anyone has a better idea just let me know here. I will make a PR soon
regards,
-jne

[2017-09-20 07:15] JordiBForgeFlow commented on #312
IMHO if they have different invoice partners they should never be merged. You can choose to manually correct the invoice partner.

But this also relates to a bad practice (IMHO) in odoo, where the person who asked for an order becomes the invoice partner.

Whoever asks for a sales order or invoice should be the order/invoice contact person. The partner should represents the entity / person that wi

[2017-09-20 13:43] JonathanNEMRY commented on #312
@jbeficent  I agree that normaly the correct use case should be setting the partner_id with the sub-contact and the invoice partner id with the parent_id...but taking in consideration that there are many invoices into this case and those invoice are into draft then it could be a good added feature what do you think?

[2017-09-21 08:17] #312 closed, assigned to nobody

[2017-09-21 14:50] rousseldenis opened #313 "[10.0] account_invoice_fiscal_position_update : Don't map tax on invoice creation"
@alexis-via When creating the invoice from interface, and have a mapping from a tax to another (that's the common fiscal position behaviour), the taxes on invoice lines are set on product purchase base tax instead of the mapped tax.

After debugging, it seems that when the `fiscal_position_change` function is called, the fiscal position is not yet defined on the invoice.

Then, another onchange ch

[2017-09-21 15:23] rousseldenis commented on #313
I'm working on a workaround

[2017-09-21 16:19] rousseldenis commented on #313
https://github.com/OCA/account-invoicing/pull/314

@alexis-via I try to make a test case, but I think it will be difficult to reproduce as it depends on the context 'default_purchase_id' on invoice creation and the manner the onchange ORM function is done...

[2017-09-22 17:16] ccandito opened #315 "invoice block in Odoo 9.0 (account_invoice_blocking)"
Dear all,
I've set the no follow up indicator for an invoice document with higher price difference.
Besides that, it has been possible to proceed on invoice payment.
what should be done is to forbid through an error system message to register any payment on that invoice.
For paying it, the follow on indicator should be removed manually before.
Regards
claudio Candito

[2017-09-26 11:43] AaronHForgeFlow commented on #194
account_invoice_customer_ref_unique: https://github.com/OCA/account-invoicing/pull/257

[2017-10-02 14:45] ThomasBinsfeld commented on #194
@pedrobaeza account_invoice_merge is merged (#238)

[2017-10-02 16:46] pedrobaeza commented on #194
Right, updated!

[2017-10-03 13:58] pedrobaeza opened #317 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [ ] account_group_invoice_line
- [x] account_invoice_blocking - By @astirpe - #331
- [x] account_invoice_check_total - By @rven - #363
- [x] account_invoice_customer_ref_unique - By @astirpe - #347
- [x] account_invoice_fiscal_position_update - By @RoelAdriaans - #381
- [x] account_invoice_force

[2017-10-06 11:31] ArthurReinhart opened #318 "[8.0][acccount_invoice_merge_purchase] Error: when invoicing from various pickings and leaving one of them waiting"
While combining purchase invoices, all pickings are marked as invoiced

Example: 1 purchase order, ends divided in 3 pickings, and 2 of them are invoiced, then when those 2 invoices are merged, the 3rd picking that was waiting is marked also as invoiced.

I think the problem is the for loop at the end of the do_merge, which marks all stock moves related to the purchase order as invoiced, and i thi

[2017-10-16 13:23] ccandito opened #321 ""purchase_stock_picking_return_invoicing" migration in version 10"
Dear All,
I'm not able to find the app "purchase_stock_picking_return_invoicing" in version 10 in the related github section.
Perhaps it has been renamed or merge with another app?
please help me because this has been very useful in version 9.
Regards
claudio candito

[2017-10-17 07:12] pedrobaeza commented on #321
It has not been migrated yet.

[2017-10-17 07:12] #321 closed, assigned to nobody

[2017-10-18 13:45] pedrobaeza commented on #321
There's a migration in progress in #283 that you can review (https://odoo-community.org/page/review)

[2017-10-18 14:17] ccandito commented on #321
Thanks

Il 18 ott 2017 15:45, "Pedro M. Baeza" <notifications@github.com> ha
scritto:

[2017-10-26 13:13] oihane commented on #317
account_invoice_refund_link https://github.com/OCA/account-invoicing/pull/325

[2017-11-21 13:15] astirpe commented on #317
account_invoice_blocking https://github.com/OCA/account-invoicing/pull/331

[2017-11-22 15:27] cesarsc79 opened #332 "Dont work"
after installing the module, when i go to accounting module...... error

ValueError: Invalid field u'type' in leaf "<osv.ExtendedLeaf: (u'type', u'in', [u'out_invoice', u'out_refund']) on base_kanban_stage (ctx: )>"

[2017-11-22 15:59] cesarsc79 commented on #332
sorry

it work ok

[2017-11-23 15:10] astirpe commented on #317
sale_timesheet_invoice_description https://github.com/OCA/account-invoicing/pull/334

[2017-12-15 11:00] OpenCode commented on #317
account_invoice_force_number #341

[2017-12-26 19:44] ccandito opened #345 "import account_invoice_refund_option in version 10"
Dear All,
it is possible to have the porting of "account_invoice_refund_option" in version 10?
is there some other function implemented instead?
regards
claudio candito

[2017-12-27 08:07] pedrobaeza commented on #345
No, this module is not needed (actually, also it's not in v9), because you have the possibility of creating a new refund from options "submenu" in the journal kanban rectangle.

[2017-12-27 08:07] #345 closed, assigned to nobody

[2017-12-27 08:18] ccandito opened #346 "Porting of "account_invoice_search_by_reference" in Odoo10"
Dear All,
is it possible to have this feature in version 10 also.
Please help me whether this has been substituted with something else.
thanks in advance
claudio candito

[2017-12-27 08:19] pedrobaeza commented on #346
Please don't open issues for each module that you want to have migrated. There's an issue for tracking the progress of the migration. If you are interested in a module, consider to finance someone for migrating it.

[2017-12-27 08:19] #346 closed, assigned to nobody

[2018-01-02 14:58] astirpe commented on #317
account_invoice_supplier_ref_unique #347

[2018-01-03 08:11] ccandito commented on #345
thanks a lot
claudio candito

2017-12-27 8:07 GMT+00:00 Pedro M. Baeza <notifications@github.com>:

[2018-01-04 16:22] ccandito opened #349 "migration of purchase_stock_picking_return_invoicing in version 10"
Dear All,
I've supposed this module is not migrated yet because another one is in place instead of it.
Please help me suggesting it.
If not, there is any plan to migrate it in version 10.
Regards
thanks in advance
claudio candito

[2018-01-05 14:35] ccandito commented on #315
Dear All,
this feature can be very important because the qty received in PO is not reliable at all and there is no 3-way matching.
therefore it is possible to pay some invoices with price and/or quantity discrepancies
Regards
claudio

[2018-01-14 11:10] ccandito commented on #345
Dear Pedro,
sorry for bothering you again, but I did not find the option to create a credit note.
Please help me sending me out a screeshot also.
Regards
claudio candito

[2018-01-14 13:10] pedrobaeza commented on #345
Proper place for these questions is the forum, not here. This is the last one I answer.

![seleccion_011](https://user-images.githubusercontent.com/7165771/34916210-9da9c9dc-f934-11e7-93f9-7ecacb015f98.png)

[2018-01-23 15:36] Gyuri77 opened #355 "[9.0][account_invoice_merge] after invoice merge false numbers appear on SO lines"
The current SO link algorithm is wrong in some cases.
eg:
SO1 -  Line1 : product1 2 pieces
SO2  - Line1 : product1 4 pieces
MAke invoices on both SO, merge the two invoice and check the SO lines:
both of the SO-s have 6 invoiced pieces, because the current algorithm is  links all invoice lines with the same product to SO lines.
Solution:
Remove the current algorithm completly:
        # Make link

[2018-02-01 13:47] MarcoCalcagni opened #357 "error on compute function"
in the  `def compute(self, value, date_ref=False):` there is an error in line 153 on
`  if not float_is_zero(amt, precision_rounding=prec):`
if amt=0,6  the result is true instead of false .
it should-be
`  if not float_is_zero(amt, precision_rounding=prec, **2**):
                result.append((fields.Date.to_string(next_date), amt))
                amount -= amt` because the float_is_zero need

[2018-02-01 13:48] MarcoCalcagni commented on #357
account_payment_term.py file

[2018-02-01 13:52] MarcoCalcagni commented on #357
[10]

[2018-02-13 12:12] ccandito opened #358 "account_invoice_supplier_ref_unique - Odoo Version 10"
Dear All,
from my perspective, the invoice data should be included also in the check.
in short, two invoices with same vendor code and same reference, but different document date (mainly the year) are not to be set as duplicated.
Regards
claudio candito

[2018-02-13 12:15] pedrobaeza commented on #358
I can understand to include a constraint by supplier/number, but not by date. By definition, a supplier mustn't repeat their numbers. I know that there are bad suppliers that each year restart their numbers without including a reference to the year, but this is something that they are doing incorrectly. You can input them with the year included in your Odoo.

[2018-02-13 13:31] ccandito commented on #358
Dear Mr Baeza,
by definition a customer mustn't repeat their numbers in a calendar year.
please take into account only some ERP system has the year into the number range, e.g. Odoo can have, but SAP-ECC usually doesn't.
Therefore, it is quite often to have the same invoice number repeated every year, mainly for small vendors (as contingent workers).
Regards
claudio Candito

[2018-02-13 13:35] pedrobaeza commented on #358
As said, the strategy is to book the supplier invoice adding that year in your supplier reference.

[2018-02-13 14:10] ccandito commented on #358
sorry, which strategy we are speaking about.
this is a missing feature and not a strategy.
regards
claudio candito

[2018-02-13 14:11] pedrobaeza commented on #358
OK, as you want.

[2018-02-13 14:11] pedrobaeza commented on #358
OK, as you want.

[2018-02-13 14:11] #358 closed, assigned to nobody

[2018-03-05 20:05] rven commented on #317
[11.0] [MIG] account_invoice_check_total: Migration to 11.0 #363

[2018-03-08 15:09] OpenCode commented on #317
@pedrobaeza #341 #347 #325 and #334 are merged

[2018-03-08 15:11] pedrobaeza commented on #317
OK, noted

[2018-03-09 10:48] diegovegatedra opened #364 "[10.0] [account_invoice_merge] ERROR"
Hi,
I have installed account_invoice_merge plugin, but when I try to merge two invoices it doesn't work and I don't know why. I was looking for information about this issue but have find anything.

I put here the Traceback of the error:

2018-03-09 08:44:23,787 10763 ERROR produccion odoo.http: Exception during JSON request handling.
Traceback (most recent call last):
  File "/usr/lib/python2.7/si

[2018-03-09 10:51] pedrobaeza commented on #364
First time you init your DB, you have to select a template for your invoices. Please do that before merging.

[2018-03-09 10:51] #364 closed, assigned to nobody

[2018-03-21 05:31] #52 closed, assigned to nobody

[2018-03-29 07:04] pedrobaeza commented on #357
Please make a PR amending the problem then. This is very hard to read and you don't even mention the module, the version...

[2018-03-29 07:04] #357 closed, assigned to nobody

[2018-03-29 07:04] #332 closed, assigned to nobody

[2018-04-17 09:06] jarmokortetjarvi commented on #317
account_invoice_transmit_method #376

[2018-05-01 12:38] BT-tbaechle opened #377 "[8.0.][account_invoice_rounding] rounding added twice to amount_untaxed"
Module: account_invoice_rounding
Version: 8.0

Steps to reproduce:
1. (install account_invoice_rounding)
2. In Settings -> Accounting set the following:
![selection_183](https://user-images.githubusercontent.com/26485507/39468888-96a37b56-4d35-11e8-9924-03c16cdc253e.png)
3. Create new customer invoice
4. Add new invoice line and set the unit price to 90.00 and tax 7.7%
5. Save and Validate

The "R

[2018-05-01 12:40] pedrobaeza commented on #377
@yvaucher @hurrinico any tip about this?

[2018-05-01 13:04] BT-tbaechle opened #379 "[8.0.][account_invoice_rounding] rounding invoice line not removed after tax calucaltion"
Module: account_invoice_rounding
Version: 8.0

Steps to reproduce:
1. (install account_invoice_rounding)
2. In Settings -> Accounting set the following:
![selection_183](https://user-images.githubusercontent.com/26485507/39473638-199a67e4-4d50-11e8-9277-12aeeb329db2.png)
3. Create new invoice
3. Add new invoice line and set the unit price to 47.77 and tax 7.7%
4. Save

A "Rounding" invoice line wi

[2018-05-04 21:18] ghost commented on #317
account_invoice_fiscal_position_update in #381

[2018-05-21 06:58] GSLabIt opened #383 "[11.0][account_invoice_supplier_ref_unique]Exception even on same number for different fiscal year?"
Module: account_invoice_supplier_ref_unique

It rise an exception even if the invoice number is same but in different fiscal year, so basically that are different invoice ref.

Step to reproduce:

Create supplier invoice with the same number in different fiscal year. Tested on 11.0 but could happen on other branchs

Possible solution:

Check the fiscal year based on invoice date, if differente don

[2018-05-21 07:16] pedrobaeza commented on #383
That's not something covered by the module. If you want them to differentiate it, include the year on the number.

[2018-05-21 07:25] GSLabIt commented on #383
Well, as you can imagine, i cannot control and force suppliers to include year in the invoice number.

I'll try to modify the module to take in account the fiscal year instead and send a PR if allowed ..

[2018-05-22 10:26] BT-tbaechle commented on #377
Hi @yvaucher and @hurrinico do you have any idea how to fix this or any thoughts on my suggested fix #378? Thanks a lot.

[2018-05-22 10:28] BT-tbaechle commented on #379
Hi @yvaucher and @hurrinico is this behavior expected? Are the any plans to fix this? I would greatly appreciate it! Thanks a lot.

[2018-06-01 14:23] yvaucher commented on #377
@BT-tbaechle hello thanks for reporting, I almost haven't touched this module since I created it in 2014.

I see it definitely is in need of unit tests, but I cannot tell if your fix is the correct one. I'll have a check at your PR though.

[2018-06-11 12:56] amcor commented on #317
account_invoice_line_description in https://github.com/OCA/account-invoicing/pull/387

[2018-06-11 14:17] amcor commented on #317
account_invoice_line_sequence in https://github.com/OCA/account-invoicing/pull/388

[2018-06-12 10:04] amcor commented on #317
account_invoice_pricelist in https://github.com/OCA/account-invoicing/pull/390

[2018-06-22 00:41] emagdalenaC2i commented on #317
Are #347 account_invoice_supplier_ref_unique, account_invoice_customer_ref_unique or both?

[2018-06-22 03:18] pedrobaeza commented on #317
It seems to be the first one.

[2018-06-29 08:49] AMhadhbi commented on #317
I will work on account_invoice_view_payment

[2018-06-29 09:11] pedrobaeza commented on #317
@AMhadhbi, noted.

[2018-06-29 15:30] yvaucher commented on #379
I haven't touched the invoices in v8.0 since a while. I don't plan to work on version 8.0.
But if you do a PR as for #377 I'll review it.

[2018-07-03 06:17] pedroortega-punt opened #400 "[10.0][account_group_invoice_line] Error grouping quota equivalence surcharge."
When you group the entries by account, you have a grouping error in the invoices with equivalence surcharge, add the VAT quota + the surcharge fee, so the model 303 in box 24 is erroneous the fee of the equivalence surcharge .

[2018-08-18 10:36] sudhir-erpharbor commented on #317
Any update on "stock_picking_invoicing" module?
Is WIP for this module or it won't be ported to v11?

[2018-08-18 15:38] pedrobaeza commented on #317
@sudhir-erpharbor IMO migrating that module is a concept error, as the invoicing from sales/purchase orders is the best approach.

[2018-08-20 07:25] sudhir-erpharbor commented on #317
@pedrobaeza  Thanks for your reply. What in the case if someone directly want to generate invoices from picking and don't want to create PO/SO?
I think in that case we should have option to create invoice from the picking (Delivery Order / Shipment)

Correct me if this feature is already available.
Thanks in advance.

[2018-08-20 07:27] pedrobaeza commented on #317
No, it isn't available because for now, everyone has adapted to the correct flow: pre-create the order.

[2018-08-20 07:30] sudhir-erpharbor commented on #317
I see. In this case I will migrate the module to v11 and maintain it in my branch in case anyone need it. Will that be fine if I do that?
@pedrobaeza

[2018-08-20 07:36] pedrobaeza commented on #317
No problem, and you can even put it here in OCA, but what I'm saying is that you re-evaluate your flows as most of us have done and get to the same result: there's no need of this module, as maintaining such gigantic code and side effects doesn't worth.

[2018-08-20 07:50] sudhir-erpharbor commented on #317
Thanks @pedrobaeza for your support. I had few inquiry about such flow so I thought it would be helpful to the people who are looking for this module.

[2018-09-27 00:02] OCA-git-bot opened #427 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [ ] account_invoice_anglo_saxon_no_cogs_deferral
- [ ] account_invoice_blocking - By @Nikul-Chaudhary - #496
- [x] account_invoice_change_currency - By @hugho-ad - #439
- [x] account_invoice_check_total - By @rven - #430
- [x] account_invoice_fiscal_position_update - By @bjeficent - #465
- [ ] a

[2018-10-01 14:24] tafaRU commented on #427
I'm working on migration of module `account_invoice_line_description`.

[2018-10-01 15:51] tafaRU commented on #427
Migration of `account_invoice_line_description`: https://github.com/OCA/account-invoicing/pull/429

[2018-10-01 20:07] rven commented on #427
Migration of account_invoice_check_total https://github.com/OCA/account-invoicing/pull/430

[2018-10-02 06:04] pedrobaeza commented on #427
@rven @tafaRU You can review each other your PRs

[2018-10-02 07:17] tafaRU commented on #427
k @pedrobaeza, then I'll work on migration of `account_invoice_force_number`.

[2018-10-02 09:41] pedrobaeza commented on #427
Noted

[2018-10-02 12:20] AaronHForgeFlow commented on #42
Is this still happening? Can we close?

[2018-10-02 12:21] AaronHForgeFlow commented on #146
Solved. Closing.

[2018-10-02 12:21] #146 closed, assigned to nobody

[2018-10-02 13:18] tafaRU commented on #427
Migration of `account_invoice_force_number`: https://github.com/OCA/account-invoicing/pull/434

[2018-10-08 15:29] sbidoul opened #436 "[RFC] Select timesheet lines to invoice"
Hi,

I'm looking for a way to select specific timesheet lines to invoices. In 11, as far as I could see, we can only invoice delivered quantities for the SO, but there is no way to precisely select which timesheet lines to invoice.

So I envision an action that you could launch to create an invoice from a list of selected timesheet lines.

Does such a module make sense?

[2018-10-08 15:29] sbidoul commented on #436
cc/ @chrisdec

[2018-10-11 16:19] pedrobaeza commented on #436
I think it makes sense, but I think is somewhat covered. @rafaelbn you said that this has been introduced. Can you enlighten us?

[2018-10-11 19:10] pedrobaeza commented on #42
Closing as no answer

[2018-10-11 19:10] #42 closed, assigned to nobody

[2018-10-22 11:19] cierek commented on #427
Ahh sorry, I haven't realised this thread and pushed this module to OCA as done migration for my customer...

[2018-10-22 12:18] cierek commented on #109
Hi,

Could you sign me up for:
account_invoice_force_number
Will upload module tomorrow.
Thanks,
Piotr

[2018-10-24 03:08] moylop260 opened #442 "[FIX] 12.0 stable branch pylint checks"
More info about:
 - https://travis-ci.org/OCA/account-invoicing/jobs/445250568#L580

Could you help me to fix it @hugho-ad?

[2018-10-24 03:18] moylop260 opened #443 "[REF] account_invoice_change_currency: Change button from header to next to currency field"
Currently
 - ![screen shot 2018-10-23 at 22 11 29](https://user-images.githubusercontent.com/6644187/47403853-b1f6f300-d710-11e8-816a-17776d7e042f.png)

RFC
  - Hidde the button if there is not activated the multi-currency settings.
  - Move the header top button to next to currency field with a fancy icon related:
   - ![borrar](https://user-images.githubusercontent.com/6644187/47404011-5416db00-

[2018-10-24 15:39] hugho-ad commented on #443
here is https://github.com/OCA/account-invoicing/pull/444

[2018-10-30 16:53] moylop260 commented on #443
and https://github.com/OCA/account-invoicing/pull/446

[2018-10-30 16:53] #443 closed, assigned to nobody

[2018-10-30 16:53] moylop260 commented on #442
Fixed from https://github.com/OCA/account-invoicing/pull/444 and https://github.com/OCA/account-invoicing/pull/446

[2018-10-30 16:53] #442 closed, assigned to nobody

[2018-11-07 20:34] hugho-ad opened #449 "[12.0] account_invoice_change_currency: Bad convertion when changing currency 2times"
After the first conversion

amount total 343.40

- Change currency to from EUR to USD
- Change currency to from USD to EUR

The invoice stay with the same currency that the last currency conversion
- Click again the button to convert currency
### Currency behavior:
The amount decrease because it converts again:
224.60

VIDEO https://youtu.be/uj9ur8pDO2k

### Expected:
Not conversion again because

[2018-11-07 21:02] #449 closed, assigned to nobody

[2018-11-28 16:26] ValentinVinagre commented on #427
Hello @pedrobaeza ,
the "account_payment_term_extension" module adds some functionalities that odoo community already offers you. The only functionality that I see that does not include is "move payments for vacation days".
Is it necessary to migrate those small functionalities?

Greetings,

[2018-11-28 16:31] pedrobaeza commented on #427
Odoo community now includes payment days?

[2018-11-28 17:00] ValentinVinagre commented on #427
Yes, you can indicate different methods for the payment days.
![captura de pantalla 2018-11-28 a las 17 58 22](https://user-images.githubusercontent.com/22913794/49168307-7f57a000-f337-11e8-8ba6-8fb7ff338e1f.png)

[2018-11-28 17:03] pedrobaeza commented on #427
But not multiple payment days... so you still need the module for that.

[2018-11-29 08:15] ValentinVinagre commented on #427
You have all reason, I didn't know about that option.

[2018-11-29 08:17] pedrobaeza commented on #427
Ah, other thing: it would be good to move this module to OCA/account-payment, as here it's not correctly placed.

[2018-11-29 12:24] Montxu commented on #194
purchase_batch_invoicing #456

[2018-11-29 15:26] ValentinVinagre commented on #427
Hi @pedrobaeza,
can you assign me the module migration "account_payment_term_extension"?

[2018-11-29 15:32] pedrobaeza commented on #427
Yes, no problem.

[2018-11-30 01:20] yaniaular opened #457 "[12.0][account_invoice_change_currency] The custom_rate field has a bad position in supplier invoices."
**Supplier Invoice:**

![image](https://user-images.githubusercontent.com/7602170/49261861-7afbb780-f409-11e8-8010-bb2f0928e4de.png)

[2018-11-30 01:44] moylop260 commented on #457
@hugho-ad
Could you check it, please?

[2018-11-30 03:03] hugho-ad commented on #457
https://github.com/OCA/account-invoicing/pull/458

[2018-12-06 10:59] jeroenev commented on #427
can you assign account_invoice_supplier_ref_unique to me?
#461

[2018-12-11 00:00] #457 closed, assigned to nobody

[2018-12-18 00:54] hugho-ad opened #466 "[12.0] Weblate: Can't translate account_invoice_change_currency"
There are not any term available to translate at https://translation.odoo-community.org/projects/account-invoicing-12-0/account-invoicing-12-0-account_invoice_change_currency/

![image](https://user-images.githubusercontent.com/10233975/50125135-30fa3a80-022d-11e9-9da3-3e8e764ded29.png)

[2018-12-18 16:50] legalsylvain commented on #194
account_invoice_supplierinfo_update_discount available here.
https://github.com/OCA/account-invoicing/pull/468

[2018-12-19 19:38] hugho-ad commented on #466
@pedrobaeza

any clue?

cc: @moylop260

[2018-12-19 20:54] moylop260 commented on #466
Maybe @sbidoul could help.
Should we create a new issue https://github.com/OCA/maintainer-quality-tools/issues/new?

[2018-12-19 22:37] pedrobaeza commented on #466
It's not a question of no strings to translate. It's that there are no language files for now. The problem then is that the button "Comenzar una nueva traducción" (Start a new translation) is not available for you. This is something that happens periodically. I have given again the permission but I think this is going to be reset. @sbidoul did you find why this happens? Maybe after an update? Any

[2018-12-19 23:22] sbidoul commented on #466
At the moment weblate user hugo-ad is only in the Viewers group.

@pedrobaeza what have you changed exactly? This did not happen since we use the `OCA Translator` role?

[2018-12-19 23:32] pedrobaeza commented on #466
I have added the permission to "Translation" role without knowing about the other role... I didn't think about not being included in Spanish. Fixing it right now.

[2018-12-21 19:26] moylop260 opened #469 "[PERF] account_invoice_change_currency: Slow query from domain"
The following line of code:
 - https://github.com/OCA/account-invoicing/blob/7cb1413180db0b97d406c966097ac400884f872b/account_invoice_change_currency/models/account_change_currency.py#L115

Run the following sql query:
 - `SELECT mail_message.id FROM mail_message WHERE (mail_message.subtype_id != 58) ORDER BY mail_message.id DESC;`

This is so slow (2s) because the result is too big if you have to

[2018-12-24 17:59] hugho-ad commented on #469
@moylop260
FYI
https://github.com/OCA/account-invoicing/pull/470

[2018-12-28 00:13] emagdalenaC2i commented on #427
@pedrobaeza Please add to the list account_invoice_refund_option, there is already a PR open #432 to migrate this module from 9 -> 11 ->12

[2018-12-28 00:19] emagdalenaC2i commented on #317
Please add to the list account_invoice_refund_option, there is already a PR open #431 to migrate this module from 9 -> 11
account_invoice_blocking - By @astirpe - #331 is merged
account_invoice_merge - By @adrian-pesol - #365 is closed and superseded by #422
there is a PR for account_invoice_line_sort in #413

[2019-01-01 05:10] bodedra commented on #120
Due to lack of information, we can close these.

[2019-01-01 05:27] #120 closed, assigned to nobody

[2019-01-06 20:12] emagdalenaC2i commented on #317
@pedrobaeza account_invoice_refund_option isn't merged yet and it is mark in the list

[2019-01-07 23:56] #469 closed, assigned to nobody

[2019-01-11 22:24] hugho-ad opened #476 "[12.0] account_invoice_change_currency: psycopg2.ProgrammingError: syntax error at or near ")" LINE 5: mtv.mail_message_id IN ()"
![image](https://user-images.githubusercontent.com/10233975/51062640-43159180-15bd-11e9-9121-f895d7b71ceb.png)

[2019-01-15 09:22] #476 closed, assigned to nobody

[2019-01-16 16:02] joshuajan commented on #427
Hello @pedrobaeza Please add to the list account_invoice_transmit_method . I want to create an PR for this module .

[2019-01-16 16:17] pedrobaeza commented on #427
Done

[2019-01-19 00:41] moylop260 opened #483 "10.0 - account_invoice_change_currency: Test error"
` AssertionError: 2004.64 != 2004.67 : Total amount of invoice does not equal to expected value!!!

https://travis-ci.org/OCA/account-invoicing/jobs/481472498#L1707

@hugho-ad
Could you help us with this issue, please?

[2019-01-19 00:52] hugho-ad commented on #483
@novawish

could you help us with this issue?

Best regards

[2019-01-25 08:24] #313 closed, assigned to nobody

[2019-01-27 13:24] Nikul-Chaudhary commented on #427
@OCA-git-bot account_invoice_triple_discount #490

[2019-01-27 13:43] Nikul-Chaudhary commented on #427
@OCA-git-bot account_invoice_tax_required #491

[2019-01-27 13:56] Nikul-Chaudhary commented on #427
@OCA-git-bot account_invoice_supplier_self_invoice #492

[2019-01-27 16:06] Nikul-Chaudhary commented on #427
@OCA-git-bot account_invoice_supplier_ref_reuse #493

[2019-01-27 16:22] Nikul-Chaudhary commented on #427
@OCA-git-bot account_invoice_refund_link #494

[2019-01-27 16:46] Nikul-Chaudhary commented on #427
@OCA-git-bot  account_invoice_pricelist #495

[2019-01-27 17:00] Nikul-Chaudhary commented on #427
@OCA-git-bot account_invoice_blocking #496

[2019-02-19 19:03] novawish commented on #483
@hugho-ad I’m really sorry for not awaring of this until now because I did not enable Notifications by mention in my github settings.
It seems that the issue was fixed by https://github.com/OCA/account-invoicing/pull/487, is it ok for now?
If yes can we close this issue?

Thanks and best regards.

[2019-02-19 19:58] #483 closed, assigned to nobody

[2019-02-25 21:50] abdufarag opened #508 "erro on installling module account_invoice_refund_link"
Error while importing module 'account_invoice_refund_link': u'"Error while validating constraint\n\nField `refund_reason` does not exist\n\nError context:\nView `Account invoice (customer) | add Refunds details (form)`\n[view_id: 813, xml_id: n/a, model: account.invoice, parent_id: 502]\nNone" while parsing /tmp/tmpxubF2O/account_invoice_refund_link/views/account_invoice_view.xml:8, near\n<record

[2019-02-26 00:14] pedrobaeza commented on #508
The module is working perfectly in fresh DBs. The problem should be yours in your DB with bad inheritance/view changes. Fix that in your DB and it will work.

[2019-02-26 00:14] #508 closed, assigned to nobody

[2019-02-28 19:52] abdufarag commented on #508
I have installed a fresh Odoo vm and worked fine.
Thanks pedrobaeza

[2019-03-07 11:19] ghost commented on #427
Hi @ValentinVinagre Have you been able to do something with the migration of the module account_payment_term_extension?
Thanks.

[2019-03-13 23:01] hugho-ad opened #512 "[12.0][11.0] account_invoice_change_currency: No correct rate when trying firts convertion of currency"
When creating an invoice from a Sale order with  a currency different that the company's one.
Is imposible to perform the convertion because the rate is not well calculated

Demostrative video
https://youtu.be/_gXmjTD5hSM

[2019-04-18 09:13] HviorForgeFlow commented on #427
account_invoice_fixed_discount is missing

[2019-04-18 09:42] pedrobaeza commented on #427
And the PR?

[2019-04-18 09:52] HviorForgeFlow commented on #427
@pedrobaeza here :smile: https://github.com/OCA/account-invoicing/pull/521

[2019-05-16 19:50] cor9003 opened #527 "[12.0]account_payment_term_extension"
The payment_days field  cannot be filled because is not called in the form view

[2019-05-19 14:48] pedrobaeza commented on #527
There's no `payment_days` field in the model in this module.

[2019-05-19 14:49] pedrobaeza commented on #527
Sorry, I have seen incorrectly due to the order of the code. Reopening for further investigation.

[2019-05-19 16:03] #527 closed, assigned to nobody

[2019-05-22 06:57] tbaden commented on #427
account_invoice_search_by_reference  https://github.com/OCA/account-invoicing/pull/452 merged already but not checked yet

ready to merge:
account_invoice_fixed_discount  https://github.com/OCA/account-invoicing/pull/521
account_invoice_supplier_ref_reuse https://github.com/OCA/account-invoicing/pull/493

[2019-05-28 12:45] amcor commented on #427
purchase_batch_invoicing https://github.com/OCA/account-invoicing/pull/532

[2019-06-01 14:19] emagdalenaC2i commented on #427
account_invoice_view_payment - By @Bhaviraj-Acespirtech - #484 is closed and superseed in #531
add to the list purchase_batch_invoicing - By @amcor - #532

[2019-06-04 17:32] CasVissers-360ERP opened #534 "[12.0] Traceback in account_invoice_change_currency"
Incorrect issue.

[2019-06-04 17:37] #534 closed, assigned to nobody

[2019-06-11 10:48] agent-z28 opened #539 "New Module: Total Discount on Invoice"
Hello we have a module called total_discount.
It provides the possibility to add a total discount on invoice / sale.order.
The result have been accepted by EDEKA / REWE and so on.
Is there any specific reason why i cant find a module about this?
If anyone is interested we can provide this module.

[2019-06-11 11:40] pedrobaeza commented on #539
@sbidoul you were working in a module for this, isn't it?

The problem with discounts in totals is the accounting part. First thing is: the aim for the total discount is an early payment discount or any other concept?

[2019-06-11 11:43] agent-z28 commented on #539
Yes we have the propper solution for the accounting part.
As said, we have neglected with big players, since they only accept it one way.
finally we have it like they expect it.
It's just a default discount, ontop of the bill, that has been contracted with the client.

[2019-06-11 11:48] pedrobaeza commented on #539
Can you indicate more details about how it's done for proper documentation (this can be later used in the README of the module)?

[2019-06-11 11:55] agent-z28 commented on #539
It sounds quite simple, the basic concept is:

We create a discount invoice line with the (negativ) amount.
then we have a new O2M that is being used in the view and report.
invoice_line_without_discount = fields.One2many('account.invoice.line', 'invoice_id', 'Invoice Lines', domain=[('is_discount_line','=',False)])
in the invoice line we have a discount product with the propper account (configure

[2019-06-20 02:51] Saran440 opened #541 "Any module that show sale order in invoice line"
Hello,
When I created invoice from sale order more than 1. How can I know that each line in invoice line reference source document?
I'm looking for module about add source document to invoice line. If not I will create this module.

i.e. account_invoice_line_sale_info, which simply add new SO column in invoice line

[2019-06-26 10:33] bealdav commented on #427
account_invoice_pricelist_sale https://github.com/OCA/account-invoicing/pull/546

[2019-06-29 12:41] kittiu opened #549 "Any Debit Note module in OCA?"
Hi, in v12, there is Credit Note which is working fine. It runs credit note sequence and have reference back to the original invoice (refund_invoice_id).

We are looking for the opposite, which is **Debit Note** and wonder if it exists in OCA?

Note: I understand that **Debit Note** is just the same as invoice but we need to runs the debit note sequence and have reference back to original invoice

[2019-07-01 07:55] wipawii opened #551 "Payment not allow to net invoice and refund"
Hello all, I am functional. As I work on Odoo v12, I found payment allow to make a payment for only one type of invoice. We cannot net payment for invoice and refund.

For example, we issue 10 invoices for customers and customer return defected stock then we issue 1 refund out to a customer. Let say 10 invoices total $1,000 and 1 refund at $10. The customer makes a payment at $990 for 11 documents

[2019-07-01 07:58] pedrobaeza commented on #551
Sorry, but this is not related to any of the modules in this repository, but on Odoo standard, and this is not an issue, but a question. You should do it on official forums or mailing lists.

[2019-07-01 07:58] #551 closed, assigned to nobody

[2019-07-01 08:25] wipawii commented on #551
Thanks. I will move to a mailing list as suggested.

On Mon, 1 Jul 2019 at 14:58, Pedro M. Baeza <notifications@github.com>
wrote:

[2019-07-01 15:42] pedrobaeza opened #554 "account_invoice_change_currency tests in v10 are failing"
[code]

[2019-07-01 15:44] pedrobaeza commented on #554
@StefanRijnhart maybe you can check this

[2019-07-02 07:13] kittiu commented on #549
Hi will be doing it as new addon - **account_debitnote**

[2019-07-02 07:15] pedrobaeza commented on #549
Why not simply invoices with a different journal and sequence?

[2019-07-02 07:53] kittiu commented on #549
The main feature we need is to link the debit note back to original invoice for form printing and some report. The wizard to create it is a plus.

[2019-07-10 13:05] JuanjoA opened #563 "[10][account_invoice_refund_link] dont link original invoice when create from Sales > Invoicing > Sales to invoice"
Steps to reproduce:
1/ Configure products to invoice delivered products.
2/ Create sale order and confirm.
3/ Transfer the delivery.
4/ Generate invoice from Sales > Invoicing > Sales to invoice and validate.
5/ Return transfer and check to refund in lines.

Now:
4.1/ if we create the refund invoice from the original invoice, we have both invoices linked.
4.2/ if we create the refund invoice from

[2019-07-10 13:15] pedrobaeza commented on #563
Yes, this is the expected behavior, as the refund hasn't been created from the invoice. Which invoice do you link? Imagine all the possible use cases that you can find...

[2019-07-10 14:01] JuanjoA commented on #563
Thanks @pedrobaeza , we can link the invoice related to the return, although I suppose that will require  _stock_picking_invoice_link_
If not, we will required to do the same job twice, once for the return transfer and once for the invoice.

[2019-07-10 14:05] pedrobaeza commented on #563
The problem is that you can have split normal invoices, with different quantities, and so on, so it's almost impossible to get accurate results, but not only that: a refund coming from a return can be considered as rectifying normal invoice? There are fiscal legal edges there...

If you are affected, you can always link manually the invoice, or I'm opened to suggestions on this.

[2019-07-10 14:22] JuanjoA commented on #563
Yes, it's a complex thing.

[2019-07-12 10:45] kittiu commented on #549
It is done here,
https://github.com/OCA/account-invoicing/pull/559

[2019-07-15 14:21] max3903 opened #564 "[ADD] account_brand"
This module allows you to set the brand on the customer invoice and print the PDF report with the name, logo and header from the brand.

# Configuration

* Check the documentation of the brand module (https://github.com/OCA/sale-workflow/issues/900)

# Usage

* Go to Accounting > Sales > Customer Invoices
* Create or select a customer invoice
* Set the brand
* Print the PDF report

# Technical Spe

[2019-07-16 11:31] marylla opened #565 "[12.0] Exception when printing invoice with set fixed discount on invoice line [account_invoice_fixed_discount]"
Hi everyone,
I get an exception when printing an invoice after setting a fixed discount on a invoice line.

What I did:
* activate developers mode
* install "account_invoice_fixed_discount"
    * no other account_invoice-modules are installed
* create a customer or a supplier invoice
* add one or several invoice lines (no discounts)
* print the invoice -> everything is fine
* edit one invoice line

[2019-07-31 02:39] Saran440 commented on #541
specific case.

[2019-07-31 02:39] #541 closed, assigned to nobody

[2019-08-07 03:29] digitalliuzg opened #574 "KeyError: False"
Traceback (most recent call last):
  File "E:\odoo\ocb\odoo\http.py", line 642, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "E:\odoo\ocb\odoo\http.py", line 684, in dispatch
    result = self._call_function(**self.params)
  File "E:\odoo\ocb\odoo\http.py", line 334, in _call_function
    return checked_call(self.db, *args, **kwargs)
  File "E:\odoo\

[2019-08-07 06:54] pedrobaeza commented on #574
Which module? Which version? Steps to reproduce? If not enough information provided, how do you expect that this potential problem gets solved?

[2019-08-14 16:00] karlggest opened #576 "[11] account_invoice_report_grouped_by_picking"
Hi.

I tried this module in a test database and seems work fine. But when i tried my working database invoice report don't show picking info.

Where can I look why my invoice reports don't change?

Ty and regards.

[2019-08-14 16:04] pedrobaeza commented on #576
It's because in your production DB you don't have the picking links in the invoices, as you have installed the module after doing that invoices.

[2019-08-14 16:04] #576 closed, assigned to nobody

[2019-08-14 16:39] karlggest commented on #576
Hi.

I  try this as follow:

1. Uninstall account_invoice_report_grouped_by_picking and stock_picking_invoice_link.
2. Update account module.
3. Install account_invoice_report_grouped_by_picking and stock_picking_invoice_link.
4. Make a sale order and confirm.
5. Validate picking.
6. Create invoice.
7. Section picking contains picking info
8. Print doesn't show picking info.

I only need understan

[2019-08-14 16:43] pedrobaeza commented on #576
Then the problem is in your customization over invoice report. I can't help you more and it's your duty to check sources for knowing the inheritance chain.

[2019-09-05 12:23] jlaloux opened #592 "[12.0] Bug with account_invoice_pricelist"
With module account_invoice_pricelist installed.

Create an invoice with a specific pricelist.

Create a new invoice line with an article having a different price on the form view than in the pricelist.

You'll see you don't get the price from the pricelist but the price from the product view 'standard price or lst_price' in function of the invoice type).

The reason is that the on change on UOM i

[2019-09-13 09:36] dek-odoo opened #596 "Payment term note: computed"
Is there any posssibility that we can have the "payment term note to be computed" ?
Thank you,

[2019-09-18 09:56] vipvalen commented on #317
El módulo account_group_invoice_line, se va migrar?, la contabilidad española con los asientos por producto es una barbaridad.

[2019-09-18 16:07] pedroortega-punt commented on #317
Sorry for the language, The module account_group_invoice_line, will be migrated ?, Spanish accounting with the entries per product is outrageous.

[2019-09-18 16:09] pedrobaeza commented on #317
I recommend you to not do that, or you will have several critical problems. Don't worry about the number of journal items. They are cheap.

[2019-09-26 09:39] Licargon opened #599 "[10.0][account_invoice_pricelist] Separate discount doesn't get shown when creating invoice through Accounting application"
**Situation:**

Odoo allows you to set discounts on sale order lines (Sales -> Settings -> Quotation and Sales -> Discount, set to 'Allow discounts on sales order lines'), which unlocks the following options on a pricelist:

![image](https://user-images.githubusercontent.com/1012414/65677231-87649700-e051-11e9-8122-04d3ffb1c88d.png)

Setting a discount on a product through the pricelist:

![image]

[2019-09-29 21:26] OCA-git-bot opened #600 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [ ] account_debitnote - by @kongrattapong - #749
- [x] account_invoice_alternate_payer - By @etobella - #959
- [ ] account_invoice_change_currency - By @Saran440 - #776
- [x] account_invoice_check_total - ~~By @jimhoefnagels - #601~~ By @ernestotejeda - #793
- [ ] account_invoice_fiscal_position

[2019-09-30 12:32] jimhoefnagels commented on #600
Hi,
Will be working on account_invoice_check_total https://github.com/OCA/account-invoicing/pull/601

[2019-10-05 16:07] jvpascual commented on #600
account_invoice_tax_required #605

[2019-10-06 20:28] jvpascual commented on #600
working on account_menu_invoice_refund.

Credit notes (customer) and refund (vendors) menus are already in account module.
i think this is not necessary to migrate.

[2019-10-07 18:20] jvpascual commented on #600
migrating account_invoice_triple_discount.

[2019-10-11 15:24] #564 closed, assigned to max3903

[2019-10-11 15:30] max3903 opened #610 "[ADD] account_invoice_refund_reason"
This module allows you to define a list of reasons to create a credit note from an invoice and report on them.

# Configuration

* Go to Accounting > Configuration > Management > Refund Reasons
* Create the different reasons you want to provide users

# Usage

## Operations

* Go to Accounting > Customers > Invoices (or Accounting > Vendors > Bills)
* Select an open invoice (or bill)
* Click on th

[2019-10-11 15:33] pedrobaeza commented on #610
You can check for similarities in code in https://github.com/OCA/crm/tree/12.0/crm_phonecall_summary_predefined

[2019-10-17 07:30] emagdalenaC2i commented on #600
account_payment_term_extension #617

[2019-10-23 16:26] yvaucher opened #621 "[RFC] account_invoice_required_tax - required + unique tax per group"
An invoice line must always come with a VAT tax.
This is the idea of the module https://github.com/OCA/account-invoicing/tree/12.0/account_invoice_tax_required
An error on validation forbid to validate an invoice that doesn't has at least one tax per line.

Camptocamp intent to implement the following 3 aspects to improve this module.
First for version Odoo 10.0 and to forward it to newer versions

[2019-10-23 18:26] pedrobaeza commented on #621
About 1 and 2, they are out of scope IMO of this module, and it doesn't apply to for example Spanish localization, where tax groups are not conformed the way you are mentioning. I would put then as extra modules. Maybe for v13 you can call it `account_invoice_tax_constraint`.

About 3, I don't see too much right now to be reused from one model to another for justifying 3 modules. Adding the other

[2019-11-05 07:31] kittiu commented on #600
account_menu_invoice_refund https://github.com/OCA/account-invoicing/pull/608
@jvpascual the module intention is to have new menu that mix invoice/refund together. In order to do netting on payment.

[2019-11-05 08:47] kittiu commented on #600
Sorry, but I think there is no such module as -> `account_invoice_menu_refund`
Only account_menu_invoice_refund.

[2019-11-13 14:13] yvaucher commented on #621
@pedrobaeza thanks for your feedback.

Relying on groups might not be the right path.

IMO point 2 is the most important one. You don't want random taxes to be applied.

[2019-11-13 15:06] pedrobaeza commented on #621
Well, for me the correctness of the taxes is given by fiscal position + product original taxes. Maybe an `account_invoice_product_required` module? :stuck_out_tongue:

[2019-11-13 15:12] yvaucher commented on #621
@pedrobaeza The idea is to detect that your product original taxes are badly configured and that nothing messed with those settings. Especially with some automated creation of sale order/invoices.

[2019-11-13 15:13] pedrobaeza commented on #621
Shouldn't you put that check on the product creation then?

[2019-11-13 15:32] yvaucher commented on #621
Then you would have to forbid any modification of taxes on invoices. Plus, products are very generic objects.

[2019-11-13 15:36] pedrobaeza commented on #621
Well, I don't see this fitting in the module as said, but if others think so, proceed the way you think.

[2019-11-29 10:03] ericzen opened #640 "sale_timesheet_invoice_description Request of evolution"
Hello,
I'm using this module since v9.
In V12, we can now add a note just below the invoiced line.
Is it possible to have the description of the sale timesheet in this note instead of the description of the item ?
Regards,

[2019-12-02 16:43] cramosh opened #641 "Error to calculate price subtotal of the invoice line"
The account_invoice_triple_discount module fails to calculate the subtotal of the invoice line

For example, when calculating quantity 400 and unit price 1.5 with a discount of 15, the result returns 512 when it should be 510.

If we apply a 25% it returns 452 when it should be 450. But if we apply a 50% or even discount it calculates it well.

The decimal precision of the unit price is 2 if we se

[2019-12-02 21:16] pedrobaeza commented on #641
You are not indicating Odoo version, but check #517 that probably fixes your problem.

[2019-12-02 21:31] igallart commented on #641
I have checked, it happens in version 10 and 11 (12 and 13 I don't know). With #517 I haven't tried.

[2019-12-03 08:49] igallart commented on #641
In V12 of runbot it fails:

![imagen](https://user-images.githubusercontent.com/13520529/70034826-1cd05a00-15b2-11ea-94f8-dfd881c4a119.png)

[2019-12-04 16:54] sergio-teruel commented on #427
@OCA-git-bot stock_picking_return_refund_option https://github.com/OCA/account-invoicing/pull/642

[2019-12-16 05:27] kongrattapong commented on #600
work on ```account_invoice_line_description``` https://github.com/OCA/account-invoicing/pull/646

[2019-12-16 07:52] kongrattapong commented on #600
work on ```account_invoice_force_number``` https://github.com/OCA/account-invoicing/pull/647

[2019-12-16 11:25] kongrattapong commented on #600
work on ```account_invoice_tax_note``` https://github.com/OCA/account-invoicing/pull/648

[2019-12-17 02:32] kongrattapong commented on #600
work on ```account_invoice_view_payment``` https://github.com/OCA/account-invoicing/pull/649

[2019-12-17 06:38] kongrattapong commented on #600
work on ```account_invoice_fixed_discount``` https://github.com/OCA/account-invoicing/pull/650

[2019-12-17 06:51] newtratip commented on #600
working on account_invoice_search_by_reference #651

[2019-12-19 09:04] newtratip commented on #600
done, ready for review https://github.com/OCA/account-invoicing/pull/651

[2019-12-30 15:20] #610 closed, assigned to max3903

[2020-01-09 08:00] mayjo79 commented on #592
+1

[2020-01-15 12:48] mbcosta commented on #427
stock_picking_invoicing https://github.com/OCA/account-invoicing/pull/566

[2020-01-15 15:20] jimhoefnagels commented on #600
Is account_invoice_supplier_ref_unique needed? It is currently not in the list.

[2020-01-21 12:13] josepmy opened #655 "[12.0] sale_invoice_line_note lost sale order position"
Hi,
If you have some notes for each product, when you create the invoice all the notes are on the last rows. Then lost the relation with the product.
When you print the invoice, the notes all are on top rows.

Seems that appear on top of the printing if you use module account_invoice_report_grouped_by_picking

IMHO each note will be mantain the same position as in the sale document.

Salut,
Josep

[2020-01-25 12:06] pedroortega-punt opened #659 "[10.0/11.0/12.0][account_invoice_supplier_ref_unique] The invoice number for the supplier already exists"
When a supplier restarts the fiscal year and changes its counters not taking into account the fiscal year in its numbering and sends us the same invoice number the following year, when registering odoo it indicates that it is repeated. You should only check those numbers annually.

Example:

Year 2019, supplier invoice number 1

Year 2020, supplier invoice number 1

[2020-01-25 21:13] legalsylvain commented on #659
I don't think so.
Invoice number should be unique. I think the supplier is wrong.

In any case this module doens't fit with your needs, and can not be fixed easely. The reason is that fiscal years of your supplier can be different that the fiscal year of your company in Odoo. And you have no way to know it.

[2020-01-25 21:13] #659 closed, assigned to nobody

[2020-01-25 22:10] saxomanu commented on #427
account_group_invoice_line #660

[2020-01-27 04:36] kittiu commented on #600
account_invoice_refund_link is already being migrated https://github.com/OCA/account-invoicing/pull/656 by @ernestotejeda

[2020-01-31 17:26] MiquelRForgeFlow commented on #600
account_invoice_fiscal_position_update https://github.com/OCA/account-invoicing/pull/664

[2020-02-06 02:47] kittiu commented on #600
account_invoice_triple_discount https://github.com/OCA/account-invoicing/pull/661

[2020-02-06 02:58] kittiu commented on #600
purchase_stock_picking_return_invoicing https://github.com/OCA/account-invoicing/pull/667

[2020-02-11 17:48] NCS-75 opened #670 "[13.0] [BUG]"account_invoice_fixed_discount" module > Error when adding "Product lines on invoice form"
When trying to add "product" _(mean move line)_ on invoice form _(customer or supplier)_ . There is an error message :

@kongrattapong
Context : OCB 13.0 Odoo Server up to date (01/21/2020), with Virgin database , to reproduce issue faced on my test environnement.
- "account_invoice_fixed_discount" module, up to date,  from "https://github.com/OCA/account-invoicing/tree/13.0/account_invoice_fixed_

[2020-02-14 09:28] pegonzalezspesol opened #672 "13.0 [ADD] Account Move Tier Validation"
Proposed next PR #674

This module extends the functionality of Account Invoice to support a tier validation process.

### Installation
This module depends on `base_tier_validation`. You can find it at [OCA/server-ux](https://github.com/OCA/server-ux)

### Configuration
To configure this module, you need to:

Go to Settings > Technical > Tier Validations > Tier Definition.
Create as many tiers as

[2020-02-25 23:29] sergio-teruel commented on #600
stock_picking_return_refund_option --> https://github.com/OCA/account-invoicing/pull/678

[2020-03-08 08:53] qzmxs opened #684 "Sales order refunds and purchase order refunds are not linked to the table"
module: account_invoice_refund_link
version: 12.0

**Steps to reproduce**
- ...

**Current behavior**

**Expected behavior**
Hope to increase data on sales order refunds and purchase order refunds later

[2020-03-08 09:58] darbi-a opened #685 "[bug-installation-v12]account_invoice_force_number"
module: account_invoice_force_number
version: 12.0

**bug report:**

[code]

[2020-03-08 11:26] pedrobaeza commented on #684
That are not refunds of invoices, so it's normal that they are not shown.

Closing as expected behavior.

[2020-03-08 11:26] #684 closed, assigned to nobody

[2020-03-12 02:36] kittiu commented on #685
Can you make it in English first and tested it?
Thanks

[2020-03-12 03:04] kittiu commented on #670
cc @kongrattapong

[2020-03-12 03:48] kongrattapong commented on #670
@NCS-75 This issue fixed by https://github.com/OCA/account-invoicing/pull/663

[2020-03-12 10:29] dreispt opened #687 "[RFC] Contribute Avatax Connector to the OCA"
Avalara Avatax is cloud service to computes sales taxes.
In the US it is an alternative to Tax Cloud, that has an EE-only connector.
Additionally, the service supports VAT calculation in the EU space, although that's not currently implemented for Odoo.

This was originally developed by Odoo SA.
They lost interest in maintaining it, invited OSI to maintain it, and we have been doing that since vers

[2020-03-12 10:44] pedrobaeza commented on #687
I think this is great, but I think it should be located in OCA/l10n-usa, not here, as this is something specific of that country. See also https://github.com/OCA/l10n-usa/pull/47 for an alternative provider.

[2020-03-12 13:36] dreispt commented on #687
Thank you Pedro.
Right now it also supports Canada, but the Avatax service also supports EU VAT, and it could be very helpful for eCommerce businesses, with the new EU VAT rules.

That's why I don't think the US localization is a good host.

[2020-03-12 14:54] pedrobaeza commented on #687
OK, then if that's the case, indeed we should go for a neutral one.

[2020-03-14 03:53] kittiu opened #690 "[RFC] Unlimited discount top ups -- account_invoice_multi_discount"
Currently, there is account_invoice_triple_discount. But I think the logic is fairly easy and can be loop, _onchange_triple_discount()
https://github.com/OCA/account-invoicing/pull/661/files#diff-0f72ae7ef2a02142acdb4018e8bc8246R11

So, I would think it will be nicer to allow unlimited discount top ups, using many2many field "discount_ids" instead of having 3 discount fields.

**Pro**
- Unlimited

[2020-03-14 03:57] kittiu commented on #670
@NCS-75 is the #663 ok? Can I close this?

[2020-03-18 13:50] qzmxs opened #692 "[12.0]purchase_stock_picking_return_invoicing，Conflict with other modules"
module: purchase_stock_picking_return_invoicing
version: 12.0

**Steps to reproduce**
- ...
 purchase_stock_picking_return_invoicing with [purchase_deposit] Conflict modules

There is no problem installing these two modules separately. If the combined installation prevents the (product) bill from being created, you can only create (prepay) the product.
**Current behavior**

**Expected behavior**

[2020-03-18 13:51] pedrobaeza commented on #692
Please put real steps to reproduce the problem, apart from installing both modules.

[2020-03-18 20:32] NCS-75 commented on #670
@kittiu Looks good to me, you can close Thanks

[2020-03-18 20:32] #670 closed, assigned to nobody

[2020-03-19 09:44] legalsylvain opened #693 "12.0 branch broken (travis) account_menu_invoice_refund"
Hi all,

I try to make PR against this repository on 12.0 and I see that there are some troubles with a module named ``account_menu_invoice_refund``.

General view : https://travis-ci.org/github/OCA/account-invoicing/builds/661437675
error : https://travis-ci.org/github/OCA/account-invoicing/jobs/661437677#L1590

@ Authors : Could you take a look ?
@badbole, @pedrocasi, @kittiu, @OCA/accounting-ma

[2020-03-19 09:58] AaronHForgeFlow commented on #693
I'd be glad to review that PR. Thank you!

[2020-03-19 17:36] qzmxs commented on #692
![image](https://user-images.githubusercontent.com/55458897/77096238-03142f00-6a4a-11ea-864f-6cf2cc05244a.png)
![image](https://user-images.githubusercontent.com/55458897/77096321-24751b00-6a4a-11ea-8339-36a018d627a4.png)
![image](https://user-images.githubusercontent.com/55458897/77096407-45d60700-6a4a-11ea-9de9-95a2db949f7e.png)
![image](https://user-images.githubusercontent.com/55458897/7709690

[2020-03-19 17:40] qzmxs commented on #692
Differences between the last 2 pictures

[2020-03-19 17:43] qzmxs commented on #692
A product setting value
![image](https://user-images.githubusercontent.com/55458897/77097647-13c5a480-6a4c-11ea-90dd-6c6aec5fd7a5.png)

[2020-03-19 17:49] qzmxs commented on #692
Prepaid product settings
![image](https://user-images.githubusercontent.com/55458897/77098205-f2b18380-6a4c-11ea-9df6-a828f8286165.png)

[2020-03-20 10:13] kittiu commented on #693
Hi, now I got the same error when I pull latest Odoo 12. I will make the PR on account_menu_invoice_refund to fix it first.
https://github.com/OCA/account-invoicing/pull/695

[2020-04-07 11:16] dreispt commented on #687
Getting back to this, I believe that https://github.com/OCA/account-fiscal-rule would be a more a more on topic host for this feature. I'll propose this there.

[2020-04-07 11:16] #687 closed, assigned to nobody

[2020-04-07 11:18] dreispt commented on #687
👉  https://github.com/OCA/account-fiscal-rule/issues/108

[2020-04-21 18:28] qupro opened #703 "[11.0] account_invoice_validation_queued : odoo.modules.registry: At least one model cache has been invalidated"
When I copy "account_invoice_validation_queued" module in  "/odoo/custom/addons" path I get "INFO test odoo.modules.registry: At least one model cache has been invalidated, signaling through the database." message.

Also, at the web interface in localhost:8069/web/database/manager, no css is loaded.

[2020-04-21 18:33] pedrobaeza commented on #703
The message about invalidation is correct and normal to happen. The other has nothing to do with that module, although maybe is motivated by incorrect permissions in your file system.

Any way, it's a deployment question and not a problem in the module itself, so closing this issue.

[2020-04-21 18:33] #703 closed, assigned to nobody

[2020-04-21 18:58] qupro commented on #703
Thanks for your quick reply,

at the beginning I also thought it could be a file permission problem, but I copy this module along with the rest of account-invoicing modules in addons path and all of them have the same permissions (odoo:odoo 775). I have just re-check it.

After I got the error, I started to move modules  in and out  from addons path until I found that "account_invoice_validation_q

[2020-04-21 19:04] pedrobaeza commented on #703
Then you are missing dependencies of this module (queue_job basically).

[2020-04-23 17:13] pedrobaeza opened #705 "[12.0] account_menu_invoice_refund: Shouldn't include feature for payments"
The module should include only the menu part, and not the feature of allowing to mix both invoice types in payments, due to the following reasons:

- I want the first thing (the menu), but not the second, and I'm forced to used both.
- The module name and initial scope don't include the second feature.
- The second feature doesn't belong here (it's a payment feature).
- The monkey-patch technicall

[2020-04-24 07:38] svalaeys opened #706 "Question : account_invoice_refund_link"
This is a question about whether the functionality I coded belongs in this module or not.

This module tracks links between invoices and refunds when the seconds ones were created from the first ones in Odoo.

There are many cases when such a simple relationship cannot be established. The most complex one is when multiple refunds reconcile with multiple invoices. I know this sounds crazy but it's

[2020-04-24 07:55] pedrobaeza commented on #706
I think it belongs to other module, as what you describe is not something feasible with standard Odoo, so you need another set of modules for achieving it AFAIK.

[2020-04-25 07:03] kittiu commented on #705
@pedrobaeza

In fact, the reason of doing this module is for making netting payment.
But I do understand your concern, and there is another module account_payment_netting
https://github.com/OCA/account-financial-tools/tree/12.0/account_payment_netting
What if I propose,

1. Reduce this account_menu_invoice_refund as you suggest.
2. Add this feature to account_payment_netting, and as such, it need

[2020-04-25 07:26] pedrobaeza commented on #705
Good for me, thanks.

[2020-04-25 09:24] kittiu commented on #705
https://github.com/OCA/account-invoicing/pull/707
Next I will move the missing feature to account_payment_netting

[2020-04-25 10:15] kittiu commented on #705
After looking into the code, I decide not to move the hook to account_payment_netting
https://github.com/odoo/odoo/blob/12.0/addons/account/models/account_payment.py#L111
This line wasn't exists before, it can break if user using different version of odoo 12.
You are right @pedrobaeza :+1:

[2020-04-25 10:21] #693 closed, assigned to nobody

[2020-04-25 10:28] kittiu commented on #692
Hi, I am the one doing purchase_deposit. Still I can't follow your case, what is the problem?

[2020-04-25 10:30] kittiu commented on #685
Please re-open if still have problem.

[2020-04-25 10:30] #685 closed, assigned to nobody

[2020-04-25 10:30] kittiu commented on #672
Close as the PR is merged.

[2020-04-25 10:31] #672 closed, assigned to nobody

[2020-04-25 10:34] kittiu commented on #640
Please re-open if the issue still persist.
Please add picture and some explaination also to guide the reviewer to understand the problem.

[2020-04-25 10:34] #640 closed, assigned to nobody

[2020-04-25 10:37] #549 closed, assigned to nobody

[2020-05-06 15:40] HaraldPanten commented on #600
account_invoice_pricelist --> https://github.com/OCA/account-invoicing/pull/709

[2020-05-09 11:49] jadelaop opened #711 "User session closed in Odoo 13 with account_invoice_force_number"
In Odoo 13 account_invoice_force_number module disconnects user session every 30 seconds.

[2020-05-09 11:53] pedrobaeza commented on #711
I really doubt that module is the guilty of your disconnection. Please try on the runbot link on the README to see if you get disconnected the same there.

[2020-05-10 10:10] jadelaop commented on #711
I disabled account_invoice_force_number and now I have no problem.

If I re-enable it, I have disconnections. How I can help you to debug the problem?

I have Odoo 13 on Ubuntu 18.04.

Thank you.

[2020-05-10 10:36] pedrobaeza commented on #711
Try it on runbot.

[2020-05-11 15:53] manuelregidor opened #712 "[RFO] New asynchronous invoice mailing module"
Hi,

I have developed a new module that allows to send emails asynchronously when they contain invoices. It automatically sends emails asynchronoysly when we select the option "Send & print" and more than one invoice has been selected.

You can check out the README file here: https://github.com/sygel-technology/sy-account-invoicing/tree/13.0/asynchronous_invoice_email

Do you find it interesting e

[2020-05-31 16:18] joergstrohmeier opened #721 "This is the function I really really need in odoo - Thank you!!"
Great work.
How can I donate?

[2020-05-31 16:26] pedrobaeza commented on #721
Which module? Thanks for your offering about donating. You can donate converting into OCA member (https://odoo-community.org/shop/product/20-msm-2020-oca-member-4964) if it's OK for you.

[2020-05-31 16:36] joergstrohmeier commented on #721
Dear Pedro,
 
I am using your module "Timesheet details invoice".
 
Then I will buy the membership if this helps you.
 
I am new in odoo, and I start to love it.
 
Freundliche GrüsseJörg Strohmeier

-----original message-----From: "Pedro M. Baeza" <notifications@github.com>Sent: 31 May 2020 18:26To: OCA/account-invoicing <account-invoicing@noreply.github.com>Cc: joergstrohmeier <joerg.strohmeier@g

[2020-05-31 17:10] pedrobaeza commented on #721
Great, I'm glad you like it. Being membership you help the underlying organization that allows all of us to collaborate in these repositories, putting infrastructure and tools for that. Check https://odoo-community.org/ for more information.

[2020-06-01 11:19] chakhi commented on #600
Work on account_invoice_pricelist

[2020-06-05 07:44] carlos-domatix opened #724 "[13.0] account_invoice_refund_link: Error on create credit note from sale order"
Impacted versions:
13.0

Steps to reproduce:
Create an order, deliver it and create the invoice. Then return some products and invoice again.

Current behavior:
![Error on create draft credit note](https://user-images.githubusercontent.com/28001484/83849900-6a1fb680-a710-11ea-854b-3811b4f882f4.gif)

Expected behavior:
![Credit note](https://user-images.githubusercontent.com/28001484/83849665-0c8b6

[2020-06-07 17:44] chakhi opened #725 "Migration account_invoice_pricelist to odoo 13"

[2020-06-07 17:46] chakhi commented on #600
Work on account_invoice_pricelist -->#730

[2020-06-08 16:19] josepmy opened #727 "[12.0] Stock Picking Invoicing: El campo `invoice_line_ids` no existe"
Hi,

Trying to install stock_picking_invoicing appear this error.
I have the stock picking invoice link installed.
I updated the database.

`Contexto del error:
Vista `stock.move.form.invoice_state`
[view_id: 1611, xml_id: n/a, model: stock.move, parent_id: 1458]
2020-06-08 16:17:09,547 1438 WARNING pro-preauto_ori odoo.modules.loading: Transient module states were reset
2020-06-08 16:17:09,549 14

[2020-06-08 16:52] legalsylvain commented on #727
- did you tried in a fresh database ? maybe a custom view is removing the field...

[2020-06-08 18:26] josepmy commented on #727
Into the stock.move model I "have invoice_line_id" not "invoice_line_ids", any hint? I'm fuzzed.

After pull the module and update stock picking invoice link the invoice_line_ids was updated correctly.

[2020-06-08 21:02] #727 closed, assigned to nobody

[2020-06-09 00:23] josepmy opened #728 "[12.0] account_invoice_supplierinfo_update : Compared product price is wrong with decimal places"
Hi,

When the product price has more than 2 decimal places the comparations aren't correct, so the compared product prices are ever round-up and ever or mostly are different.
Attach capture.
Price is the price on the purchase invoice and new unit price is the round-up price.

![Captura de pantalla 2020-06-09 02 12 01](https://user-images.githubusercontent.com/6210262/84092497-d5f76d00-a9f7-11ea-81

[2020-06-09 16:04] ramon-flashtec opened #729 "account_invoice_line_sequence should not count notes and sections"
same as on sales orders: https://github.com/OCA/sale-workflow/issues/1161#issue-635562992

[2020-06-09 18:16] #725 closed, assigned to nobody

[2020-07-09 01:57] kongrattapong commented on #600
work on account_debitnote https://github.com/OCA/account-invoicing/pull/749

[2020-07-16 16:49] victoralmau opened #760 "[12.0] Is there an addon to auto-invoice the orders?"
Suppose we have 100 orders to be invoiced daily (some we do not know if they are, since we do not know if the stock_picking are done), the process could be done manually but we would have to filter which orders are fully invoiced (if the billing policy is to units delivered) but I think an addon that auto-creates these invoices (and groups them by clients if there are 2 or + orders from a client o

[2020-07-16 16:51] pedrobaeza commented on #760
There's #755, but not sure about the genericity / integration with other OCA modules.

[2020-07-16 16:54] victoralmau opened #761 "[12.0] Is there an addon to auto-pay the invoices?"
Suppose for a sale_order 2 payment_transaction done are linked, the order is confirmed and self-invoiced via https://github.com/OCA/account-invoicing/issues/760.
Let's consider this issue: https://github.com/OCA/account-payment/pull/340 whereby a payment_transaction donated auto-creates an account_payment

A useful functionality I think it could be that when validating the invoice it looks for the

[2020-07-16 16:58] pedrobaeza commented on #761
I'm seeing that most of the flows you are describing (for e-commerce), are already covered in https://github.com/OCA/sale-workflow/tree/13.0/sale_automatic_workflow

[2020-07-17 06:34] victoralmau commented on #760
I will review this topic in detail as it is very interesting (even if it is only for V13).

The addon that I suggested was quite similar although thinking not about billing once a month, but once a day, everything that is sent is billed (perhaps it would apply to any business logic in Odoo whether or not it has e-commerce).

[2020-07-17 11:50] kittiu opened #762 "[RFC] account_invoice_payment_retention"
Hi, we are looking to create a module about payment retention with following features. So I want to see if anything like this already exists and or gather comments, if any.

### Use Case

A company has a new PO contract with a vendor, and has a term to Retain 10% of the amount on every invoices being paid. The amount is known for warranty. And, so after the warranty period, the company will also p

[2020-07-17 18:50] tommy1441 opened #763 "Am I doing something wrong? Missing steps"
Hi, what I understand this addon to do is:
- From the hours i have input in Timesheet for a project X, I can in Sales automatically create an invoice using those hours, importing them from timesheets in other words, so I don't have to manually input them again there.

If this is what it does, then I am unable to do it.
Usage explains to:

_Go to Sales -> Orders -> Orders and create a new Sale Orde

[2020-07-18 04:16] kittiu commented on #763
Hello, are you talking about some specific module in this repository you are working on?
Or this is generic Odoo, how to, question?

Thanks!

[2020-07-18 04:18] tommy1441 commented on #763
@kittiu HI, i'm talking about the account-invoicing addon for odoo 13. I just can't figure out how to make the addon do what it's means to do.

[2020-07-18 06:57] kittiu commented on #712
@manuelregidor sure I think someone might find it useful on some case. To me, it is interesting.
You can try making the PR, and I am sure you will get good comments whether or not it is merged finally.
WDYT?

[2020-07-19 19:16] sgheller opened #765 "[13.0] account_move_tier_validation: RecursionError"
module: account_move_tier_validation
version: 13.0

Tested in runbot

**Steps to reproduce**
- Configure the module for validation of draft journal entries with admin as reviewer
- Create draft invoice with demo user
- Attemp to validate invoice with reviewer user

**Current behavior**

Error

File "/home/odoo/dependencies/server-ux/base_tier_validation/models/tier_validation.py", line 158, in wri

[2020-07-23 06:45] victoralmau commented on #760
Hello, reviewing the addon https://github.com/OCA/sale-workflow/tree/13.0/sale_automatic_workflow and seeing that auto-invoice is possible according to the parameters that you want to configure (custom filters) I think this question is resolved and it would not be necessary to add any addon because _sale_automatic_workflow_ already does it.

[2020-07-23 06:45] #760 closed, assigned to nobody

[2020-07-23 07:26] victoralmau commented on #761
Hello, thanks for your answer, I have looked in detail at that addon. Specifically regarding auto-pay the invoices that I commented if I'm not mistaken, there is the following at the odoo level:

https://github.com/odoo/odoo/blob/12.0/addons/payment/models/payment_acquirer.py#L855
https://github.com/odoo/odoo/blob/12.0/addons/payment/models/payment_acquirer.py#L791

This process is thinking for a

[2020-08-06 10:12] manuelregidor commented on #712
You can find the PR here: https://github.com/OCA/account-invoicing/pull/767
Thank you

[2020-08-08 10:06] joergstrohmeier commented on #721
Hi Pedro

I am now also invoicing expenses and it seems that the details for the
invoice lines come from your extension. Thats nice.
The only thing I would like to change is the date of the expenses. It
should be the date when the expense was incurred.

PS: On the timesheet details it would be useful to also show the
employee who did the hours.

Freundliche Grüsse
Jörg Strohmeier

------ Original

[2020-08-08 10:18] pedrobaeza commented on #721
But AFAIK, you should do that changing the analytic entry date. Anyway, let me close this that is not an issue of the module.

[2020-08-08 10:18] #721 closed, assigned to nobody

[2020-08-10 09:40] CasVissers-360ERP commented on #765
Same issue here, @pegonzalezspesol could you check?

[2020-08-11 07:03] CasVissers-360ERP commented on #765
I think this is because of a PR made in base_tier_validation. There is a loop on _notify_review_requested

[2020-08-20 15:06] rven commented on #600
account_invoice_merge ==> https://github.com/OCA/account-invoicing/pull/774

[2020-08-21 14:39] rpinset opened #775 "[13.0] [account_invoice_fixed_discount] Error while importing : discount_fixed field does not exist"
Hello,

I have a error while importing module 'account_invoice_fixed_discount'.

ODOO said it :

[code]

But I don't understand this error whereas account_move.py contains

[code]

cordialy
Rom

[2020-08-24 03:18] kittiu commented on #762
Done :: https://github.com/OCA/account-invoicing/pull/771

[2020-08-31 07:45] flachica commented on #765
It may be related to the fact that None [has been defined](https://github.com/OCA/account-invoicing/blob/261110974aef44f67ce6c49c92980f7ada41a986/account_move_tier_validation/models/account_move.py#L11) as a _state_to in which the validation must be filled. If by chance, after the create a write is launched, the validation is requested and it can enter an infinite loop

[2020-08-31 14:41] alexandreduf opened #780 "Description is hard to understand and contains a mistake"
Hi everybody,

The description should be improved. Right now, it's hard to know what the module does and what's its use case.
There is also a mistake in the description ("no" instead of "not")

"This module add a warning popup on invoice to ensure warning is populated no**[t]** only when partner is changed."

What we can understand :

- Normally, in Vanilla Odoo there is a pop-up when partner is c

[2020-08-31 14:42] pedrobaeza commented on #780
Which module? Which version?

[2020-08-31 15:15] alexandreduf commented on #780
Sorry for that, I'm new to Github.
Thought my issue would be linked to the module that I was previously viewing before switching to "Issues" tab.

Here's the info :
account_invoice_warn_message/
Version 13

[2020-08-31 15:21] pedrobaeza commented on #780
@HviorForgeFlow can you take a look?

[2020-09-01 07:52] HviorForgeFlow commented on #780
hi @alexandreduf ,yes.. description can lead to misunderstands. Have you test the module? Maybe adding additional information like that could help:

[code]
This is only a proposal, could you propose a proper description to that module that fit your expectations?

Please open a PR, I will review thankfully.

Thanks,

[2020-09-23 14:58] celm1990 commented on #600
Hi @pedrobaeza i want migrate [stock_picking_invoicing ](https://github.com/OCA/account-invoicing/tree/12.0/stock_picking_invoicing)but i not see on Modules to  migrate, because??

[2020-09-23 14:59] pedrobaeza commented on #600
https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2020-09-23 21:44] celm1990 commented on #600
stock_picking_invoicing #786

[2020-09-25 09:32] pedrocs-exo opened #788 "[12.0] account_global_discount: error on multi-invoice payment validation"
module: account_global_discount
version: 12.0

**Steps to reproduce**

- install account_global_discount
- select 2 or more unpaid purchase invoices
- click on Action/Register Payment
- hit Validate

**Current Behavior**

Error:

  File "/opt/odoo/auto/addons/account_global_discount/models/account_invoice.py", line 129, in _compute_amount
    if not self.invoice_global_discount_ids:
  File "/opt/o

[2020-09-25 17:50] pedrobaeza commented on #788
Fixed in 4ebbcaf

[2020-09-25 17:50] #788 closed, assigned to nobody

[2020-10-04 10:19] OCA-git-bot opened #792 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [x] account_global_discount - By @omar7r - #990
- [ ] account_invoice_alternate_payer - By @olgamarcocb - #1100
- [ ] account_invoice_analytic_search - By @joshburkholder - #1307
- [x] account_invoice_block_payment - By @Ricardoalso - #1778
- [ ] account_invoice_blocking - By @olgamarcocb - #108

[2020-10-06 11:39] #765 closed, assigned to nobody

[2020-10-09 13:29] omegatmm opened #795 "account_invoice_force_number fails test in13"
I added account_invoice_force_number to my odoo.sh build and it fails on the test:

ERROR	server	ERROR: TestAccountForceNumber.test_force_number
Traceback (most recent call last):
  File "/home/odoo/src/user/account_invoice_force_number/tests/test_account_force_number.py", line 45, in test_force_number
    "invoice_line_ids": invoice_vals,
  File "<decorator-gen-135>", line 2, in create
  File "/h

[2020-10-23 17:48] #761 closed, assigned to nobody

[2020-10-28 00:36] Ryoko04 opened #804 "Tax description should be translatable"
Since Tax description is printed in invoice, Tax description should be translatable.
Tax description on invoice should be printed in customer's language, not company's language.

[2020-10-28 08:08] pedrobaeza commented on #804
Closing as there's a PR, and not needed AFAIK. Just install `l10n_multilang`.

[2020-10-28 08:08] #804 closed, assigned to nobody

[2020-11-09 16:00] dreispt opened #809 "[RFC][12.0] account_invoice_require_po_doc: set PO or sales documentation as required"
The [`sale_require_po_doc`](https://github.com/OCA/sale-workflow/tree/12.0/sale_require_po_doc) module allows  customers to require a PO Number when confirming a Sales Order.

A `account_invoice_require_po_doc` module is needed to extend that validation to Customer Invoices.

[2020-11-18 18:44] Webimtech opened #818 "[13.0] account_invoice_fixed_discount: tax computation issue after applying a fixed discount"
Hi,
I need a help please!
The module do not compute the new tax amount after applying a fixed discount.

![image](https://user-images.githubusercontent.com/66035639/99573358-4c9c8b80-29d6-11eb-9a4a-6758db8e21dd.png)

Thank you a lot!

Regards,

[2020-11-20 18:24] alexandreduf commented on #780
Hi @HviorForgeFlow,

Sorry for the delay.

Here's how I would rephrase this :

I cannot test the module since I can't read code (my knowledge in coding is very weak) and since the description doesn't help me understanding what the module does exactly. So I have no idea what to test.

Can someone help completing the description so I can test the module and give some feedback?

Regards,

[2020-12-09 06:51] dsolanki-initos commented on #317
Hello all,
I have migarted the module account_group_invoice_line to v11 and here is the PR #824.

[2020-12-09 09:09] fshah-initos commented on #317
Hello all,
I have migarted the module account_invoice_partner to v11 and here is the PR https://github.com/OCA/account-invoicing/pull/825

[2020-12-11 10:27] dsolanki-initos commented on #317
Hello all,
I have migrated the module account_invoice_supplierinfo_update to v11 and here is the PR #829

[2020-12-16 17:33] mohamedhagag commented on #792
account_invoice_fixed_discount #835

[2020-12-18 09:16] phuctranfxvn commented on #792
`account_invoice_section_sale_order` migrated here https://github.com/OCA/account-invoicing/pull/838

[2020-12-19 16:23] account-vr opened #837 "Error installation Account Invoice Refund Reason"
Good morning,
I try to install this module: Account Invoice Refund Reason
but it gives me this error.
How can I solve?
thanks a lot
Vincenzo
Odoo 12.0

Errore:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo/odoo/odoo/models.py", line 1128, in _validate_fields
    check(self)
  File "/opt/odoo/odoo/odoo/addons/base/models/ir_ui_view.py", line 345, in _check_xml
    view_def

[2020-12-20 16:33] infoitservit commented on #641
Error still there!

[2020-12-22 11:13] cramosh opened #839 "[13.0] account_global_discount"
When adding the global discount to the invoice, the breakdown of taxes and the calculation of the total amount work correctly.
But when publishing the invoice, you are wrongly recalculating the tax amount and also the total amount.

This module are testing in Oca Runbot 13.0 Community.

![image](https://user-images.githubusercontent.com/34350771/102882703-15931d00-444f-11eb-8ce8-e38f6847ad5a.png)

[2020-12-28 13:09] #839 closed, assigned to ernestotejeda

[2021-01-28 14:24] SalouaSahnoun commented on #818
Hello @Webimtech ;

Please did you find a solution ?

[2021-01-28 14:40] Webimtech commented on #818
Hi @SalouaSahnoun

Actually not !
But I noticed that the problem appears when there is no hand action on the fix discount value (in case of quotation to invoice transfer).

If you try to modify the discount value by hand, in this case the module works well..

I hope that the OCA will take the action ...

Regards,

[2021-01-29 14:40] joao-p-marques commented on #792
Working on account_invoice_refund_link

[2021-02-01 10:55] SimoneVagile commented on #792
`account_invoice_force_number` [https://github.com/OCA/account-invoicing/pull/845](https://github.com/OCA/account-invoicing/pull/845)

[2021-02-02 13:55] Webimtech commented on #818
@pedrobaeza
Sorry to tag you, I'm not sure who to talk to about this one. It seems like a critical bug is blocking the update of the tax amount if the invoice is created from a quotation: sale.order --> account.move

Could you please get a look on this bug?

Thank you for your help

[2021-02-02 15:41] pedrobaeza commented on #818
Sorry, I don't use this module. Ping original authors.

[2021-02-02 16:01] SalouaSahnoun commented on #818
@eficent @Rattapong @ballester @ForgeFlow

[2021-02-07 07:28] phuctranfxvn commented on #792
`account_invoice_transmit_method` migrated in https://github.com/OCA/account-invoicing/pull/861

[2021-02-08 18:24] sergioeix opened #863 "[13.0] purchase_stock_picking_return_invoicing issue with down qty on inv"
With purchase_stock_picking_return_invoicing installed you cant downgrade qty on invoice and create a new one with pending qty from purchase as normal flow.

Steps to reproduce:
1 make a purchase with a product 100 und
2 recive picking all und
3 create bill and down qty to 20 and post
4 back to purchase and then create a bill again, only show the already created bill and dont allow to create a bil

[2021-02-08 18:25] pedrobaeza commented on #863
Just click on the "Create" button in the invoice form?

[2021-02-08 19:00] sergioeix commented on #863
Hi Pedro you are rigth, now i feel a bit ...   :P
I think it will be a good idea to mention this on the readme module file because normal flow is diferent without purchase_stock_picking_return_invoicing installed
Ty Sir

[2021-02-08 19:04] pedrobaeza commented on #863
You are free to open a PR improving documentation. Meanwhile, I close this issue as it's not.

[2021-02-08 19:04] #863 closed, assigned to nobody

[2021-02-09 19:31] pedroortega-punt opened #864 "[13..0]account_group_invoice_line"
Hi there

Have you thought about migrating this module for versions from v13?

The accountants that all their invoices that have more than 200 lines and make 5000 invoices a year, checking the invoice entry and then printing the journal at the end of the year can be millions of records.

More than one we are wrong to say.

You have no problems with this?

[2021-03-05 16:28] anajuaristi opened #878 "account_global_discount missing reset compute fields"
Case of use:
Create an invoice from sale order including global discount.
Erase the global discount directly on invoice --> invoice_global_discount_ids is correctly emptied but amount_global_discount and amount_untaxed_before_global_discounts are not being recomputed or set to zero, so the global discount amount is staying on invoice causing incorrect amount.

Proposed solution, (I don't know if i

[2021-03-05 17:28] pedrobaeza commented on #878
In v12, if the compute is executed, all values are reset to their default value (0.0 for float/monetary), so I don't think that code will solve your issue.

[2021-03-11 09:15] chusamo commented on #792
`account_invoice_search_by_reference` migrated in #879

[2021-03-14 11:42] pedroortega-punt opened #886 "[12.0] stock_picking_invoice It does not collect the discounts applied in order."
The module is not compatible with the odoo discount and also not compatible with the multiple discount modules. The invoice does not include any discounts from the order lines.

[2021-03-14 17:54] pedroortega-punt commented on #886
The invoices made from delivery notes are not linked to the quantities invoiced in the order lines.

[2021-03-14 17:55] pedroortega-punt commented on #886
The same happens in returns.

[2021-03-14 17:59] pedroortega-punt commented on #886
having the billing functionality on delivery notes, which in Spain is 90% of the types of invoicing, it should be linked, whether invoices from order or invoices from delivery notes, the same with rectifications.

[2021-03-15 07:43] xavierjimenez commented on #792
account_invoice_fiscal_position_update migrated in #887

[2021-03-15 07:43] xavierjimenez commented on #792
account_invoice_check_total migrated in #888

[2021-03-16 18:11] anajuaristi commented on #878
But, it seems that in this case compute is not being executed since the amount values remain with old values. They are never recomputed or reseted to their default value.
I was proposing a way to force this compute. Could it work this way?

[2021-03-16 18:31] pedrobaeza commented on #878
You can try in a real installation, but as said, I don't think that solves the problem. Is the problem reproducible in OCA runbot?

[2021-03-16 18:44] anajuaristi commented on #878
I was trying to test in OCA runbot to confirm but it's giving me the error 504 Gateway Time-out
So, I will try tomorrow.
Thank you!

[2021-03-18 14:13] SimoRubi commented on #792
@OCA/accounting-maintainers can someone update the issue's description? Thanks!

[2021-03-19 10:35] joao-p-marques commented on #600
Working on `account_invoice_date_due` (can it be added to the list?)

[2021-03-24 14:38] anajuaristi commented on #878
Yes. It's happening on runbot
http://3472584-12-0-ea693a.runbot3.odoo-community.org/web#id=10&action=289&active_id=2&model=account.invoice&view_type=form&menu_id=232

This is with 10% global discount, on invoice
Untaxed Amount Before Disc. | $ 41,175.05
-- | --
Global Discounts | $ -4,117.50
Untaxed Amount | $ 37,057.55
Tax | $ 5,558.63
Total | $ 42,616.18

This is after erasing the global discoun

[2021-03-24 15:54] clementmbr opened #898 "[14.0] account_billing test failing"
Hi,

I just made a new PR #897  today to migrate **sale_timesheet_invoice_description** and my Travis is red because of a test failing in **account_billing** :
https://travis-ci.com/github/OCA/account-invoicing/jobs/493419132#L1411

Looks like this test has nothing to do with **sale_timesheet_invoice_description** as it just creates a billing object and my module only changes the invoice line's de

[2021-03-25 07:46] pedrobaeza commented on #878
OK, go ahead, but I still think that is not going to solve the problem.

[2021-04-01 06:45] jypsmh opened #904 "[12.0] Order line billed quantity not updated"
After merging 2 invoices, billed quantity on order is not updated.

[2021-04-01 08:03] sergiocorato commented on #904
Billed quantities are updated on invoice creation, invoice merge is not involved AFAIK.

[2021-04-01 13:59] primitath opened #906 "[13]account_invoice_fixed_discount"
When  invoice generate from sale order  tax is not update in invoice

[2021-04-05 04:34] dsolanki-initos commented on #792
@OCA/accounting-maintainers
PR #881 and #845 is ready to merge in main branch.

[2021-04-11 04:45] kittiu commented on #898
Fixed https://github.com/OCA/account-invoicing/pull/911

[2021-04-11 08:39] #898 closed, assigned to nobody

[2021-04-14 12:17] antonionardella opened #914 "[12.0] account_invoice_triple_discount Discount 2 and 3 missing in invoice view/report but are calculated correctly"
Hello,

a SO with three discounts as shown here:
![image](https://user-images.githubusercontent.com/7383572/114708703-fbe25200-9d2b-11eb-8988-6f464a3003c4.png)

does not keep the discount 2 and 3 in the invoice view and report
![image](https://user-images.githubusercontent.com/7383572/114708779-1ae0e400-9d2c-11eb-918e-e3f6adab44fb.png)

Although the discounts are correctly calculated

[2021-04-14 12:29] legalsylvain commented on #914
Hi. This module hide the values, if you're are not member of the group ``base.group_no_one``.

https://github.com/OCA/account-invoicing/blob/12.0/account_invoice_triple_discount/views/account_invoice_view.xml#L11

I think that is not good design, (and not consistent with the rest of Odoo).

Could you make a PR, removing the groups fields ?

thanks !

[2021-04-20 08:50] JordiADARIA opened #917 "[12] [account_invoice_merge] not getting lot /serials if using module [account_invoice_production_lot]"
if use [account_invoice_production_lot],  account_invoice_merge is not getting lot/serial numbers on printed merged invoice.

Make sense to add it (if exist field on origin invoice line)

it's possible to add it, if the field "prod_lot_ids" exists on origin invoice line?

i guess it should be added here (if exist):

def _get_first_invoice_fields(self, invoice):
        return {
            'origin

[2021-04-20 11:09] legalsylvain commented on #917
Hi @JordiADARIA. I think you could implement a fix similar to this one : https://github.com/OCA/account-invoicing/pull/918

could you review the PR ? and make another PR, once this one validated ?

thanks !

[2021-04-20 20:16] acsonefho opened #920 "[13.0] sale_order_invoicing_grouping_criteria"
I think there is a issue with the module `sale_order_invoicing_grouping_criteria` (v`13.0`).

The idea is to add some values/keys during creation of invoices based on sale orders to group them if necessary.

If I correctly understood the Odoo sale addon, it generated values (`dict`) to create future invoices based on current sale orders.
Then these values are grouped together depending on group ke

[2021-04-20 20:16] acsonefho commented on #920
@pedrobaeza can you take a look please? I think you already work on this module.
Thanks in advance!

[2021-04-20 20:27] pedrobaeza commented on #920
The grouping criteria uses `sale.order` values:

https://github.com/OCA/account-invoicing/blob/afce74cdfe52a65f920a7fc4195554d47b3ce477/sale_order_invoicing_grouping_criteria/models/sale_order.py#L23

so there's something weird in your case, but it should perfectly worked.

[2021-04-21 05:08] acsonefho commented on #920
You're right! Sorry I was on a previous version of this module and with the update it works perfectly!

Thank you!

[2021-04-21 05:08] #920 closed, assigned to nobody

[2021-04-21 14:52] JordiADARIA commented on #917
oh, @legalsylvain , ill try to use the approach that you uses with that PR, it could be enough (before i need to check if that field exist, if i want to avoid errors due to field nonexistence) ... if its ok ill try to make a PR

thanks a lot for your suggestion!

[2021-04-27 13:04] jypsmh commented on #904
not agree in v12
2 orders, with 2 deliveries, 2 draft invoices : ok, we see billing quantity on purchase orders
account invoice merge of the 2 draft invoices
a new draft invoice is generated ok, and the 2 original draft invoices are cancelled
but the cancel of original invoices remove the billing quantity on purchase orders

[2021-05-08 13:40] kittiu opened #931 "[14.0][BUG] account_invoice_force_number, the move_name break the existing Odoo sequence."
The correct behavior should be,

* INV/2021/0001 --> based on v14 automatic sequence
* INV/2021/0002
* INV/2021/0003
* AAA/001  ---> here comes the force number, only 1 doc.
* INV/2021/004 ---> it should be back to normal sequence.

But, because of the new automatic sequence that detect the AAA/001 as the re-sequence, it become like,

* INV/2021/0003
* AAA/001  ---> here comes the force number, on

[2021-05-17 12:42] sergiocorato opened #937 "[12.0] Creation of second invoice from purchase order is inhibited"
This function [1] does not take in account `create_bill` variable in context as the original function [2], so after the issue of the first invoice, it does not create further invoices, only showing the first invoice generated.

[1] https://github.com/OCA/account-invoicing/blob/36cb648dc2bb1b2ca75cc822fdc9d8bd5d34a1ca/purchase_stock_picking_return_invoicing/models/purchase_order.py#L99

[2] https:/

[2021-05-18 14:38] acrata29 opened #940 "[12.0] Get server error when try to create an invoice from purchase refund"
We get "ValueError: Wrong value for stock.invoice.onshipping.journal_type: 'purchase_refund'" when try to create an invoice from stock picking.

This stock picking is a return from a purchase.

Why do we get this error?

Odoo 12 Community edition

Module: stock_picking_invoicing

[2021-05-20 14:56] fredzamoabg commented on #792
working on **account_invoice_tree_currency** https://github.com/OCA/account-invoicing/pull/943

[2021-05-26 10:46] lmmar-ic opened #946 "[13.0] [account_invoice_supplier_self_invoice] Problem in migration script."
Hi,

When execute the openupgrade process to 13.0, the process stop in this module, when run post-migration script:

2021-05-26 10:21:31,908 7615 INFO openupgrade OpenUpgrade: account_invoice_supplier_self_invoice: post-migration script called with version 12.0.1.0.0
2021-05-26 10:21:31,909 7615 ERROR openupgrade odoo.sql_db: bad query:
        UPDATE account_move am
        SET self_invoice_numbe

[2021-05-26 15:55] albariera commented on #946
Thank you for creating the issue. I am sorry for the mistake. I hope that this PR fixes the problem: #947

[2021-05-27 09:01] fredzamoabg commented on #792
working on **product_supplierinfo_for_customer_invoice** https://github.com/OCA/account-invoicing/pull/948

[2021-06-04 10:25] khushbu-3 commented on #792
account_invoice_warn_message #952

[2021-06-04 10:26] khushbu-3 commented on #792
account_menu_invoice_refund  #950

[2021-06-07 04:30] khushbu-3 commented on #792
working on  account_invoice_pricelist

[2021-06-24 13:57] TelmoSuarezConinpe commented on #792
sale_order_invoicing_grouping_criteria #962

[2021-07-01 07:54] CarFla opened #965 "[12.0] When merge invoice with timesheet, IT reset."
Hi
Module Account Invoice Merge
I use the module to merge DDT and Order with timesheet.
When I create an invoice with timesheet, the order disappear from invoiceable. But when i merge that invoice with another one (ex. with DDT) the module create a new invoice, cancel old, and reset used timesheet from invoiced order, so the order return in invoiceable order.
Is there a workaround or solution for

[2021-07-06 10:52] francesco-ooops opened #966 "[12.0] account_payment_term_extension: confusing value names in payment terms > options, duplicate payment days"
Affected versions: 12.0

This is more an improvement than a bug

Terms > options: Values "day(s) after invoice date" and "day(s) after invoice date month" are confusing since user can choose of setting days, weeks and months; these values should be changed in "after invoice date" and "after invoice date month" respectively

![image](https://user-images.githubusercontent.com/55489873/124451228-76e4

[2021-07-16 07:13] samako41 opened #970 "[13.0] account_invoice_refund_line_selection: Not working as expected"
Hello,

Please be aware that version 13 of Account invoice refund line module that is on odoo app store is not functioning as it ought to.

When you select invoice lines, all the lines are added to the credit note instead and they will all be processed which is not right.

We will appreciate if you can help us do amendment to this as we consider it to be a useful module to us.

Thank you

[2021-07-16 07:54] AaronHForgeFlow commented on #970
Are you able to reproduce the same on runbot: http://3493292-13-0-26be19.runbot1-3.odoo-community.org/web/login?db=3493292-13-0-26be19-all&login=admin&redirect=/web?debug=1 ?

[2021-07-16 16:27] FranciscoBigWings opened #972 "[13.0] Migration from 12.0 to 13.0 of account_invoice_repair_link"
Hello,

I would like to know if this module feature has been merged into  repair module or any other module in 13.0?

Thanks

[2021-07-17 11:20] samako41 commented on #970
I can see that what was built was to refund specific lines before register
payment. What i was looking for is to refund specific lines even after
payment. I thought it was meant to do this.

Thanks & Regards
.

On Fri, Jul 16, 2021 at 8:54 AM Aaron ForgeFlow ***@***.***>
wrote:

[2021-07-29 06:28] dstainhauser opened #980 "sale_timesheet_invoice_description for Odoo 14"
Hi

I'm a happy user of sale_timesheet_invoice_description, currently with Odoo 12. We are now migrating to Odoo 14, but the module is not yet ported to Odoo 14. I tried to install it, but it seems there is a change with sequence.

[code]
What are the plans for Odoo 14? I would really appreciate using this module again, as I don't see any other alternative.

Thanks for your valuable work

Daniel

[2021-08-13 06:20] AaronHForgeFlow commented on #970
In that case I think you have to unreconcile the payment first, then you can refund the specific lines.

[2021-08-28 16:24] GunalanD95 opened #996 "ERROR: invalid regular expression: quantifier operand invalid while creating record in invoice"
Impacted versions: 14.0

Steps to reproduce:

Log in as Admin
Navigate to Invoicing
Click to Create
Current behavior: It throws the Server Error.

Expected behavior: It'll not be thrown any errors.

Error Info:

2021-08-28 16:20:06,086 46220 ERROR toto odoo.sql_db: bad query:
            UPDATE account_move SET write_date = write_date WHERE id = (
                SELECT id FROM account_move

[2021-08-29 10:32] pedrobaeza commented on #996
Hi, thanks for reporting. Are you able to reproduce the problem in runbot infrastructure (http://runbot.odoo.com/runbot - click on the blue door icon of the version row - admin/admin)?

If so, please explain with all the possible detailed steps to get to the error. Not having them, it's very difficult to hunt down the problem. Please don't be shy of adding details, and even better if you provide s

[2021-08-29 10:33] pedrobaeza commented on #996
Duplicated issue in odoo/odoo and it's a bad deploy.

[2021-08-29 10:33] #996 closed, assigned to nobody

[2021-09-01 18:33] martinsalcedoapps opened #997 "[14.0] debit_note does not compute tax accounts"
Hi,
When I create a debit_note from a credit_note, the accounts lines does not reflect the tax accounts.
Only after of a manual change of data like qty or prices the tax is regenerated correctly in the entry lines tab.
What should I do to fix that?
I tried to use the move._recompute_tax_lines() but still having the error.
Regards

[2021-10-17 10:13] OCA-git-bot opened #1022 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [ ] account_billing - By @bizzappdev - #1406
- [x] account_global_discount - By @kirca - #1271
- [x] account_invoice_alternate_payer - By @bizzappdev - #1407
- [ ] account_invoice_base_invoicing_mode - By @TDu - #1243
- [x] account_invoice_blocking - By @JordiBForgeFlow - #1265
- [ ] account_inv

[2021-11-05 08:55] rafamarpe opened #1033 "[13.0] account_invoice_fiscal_position_update: The accounting entry is not updated when the tax position is changed"
## Module
account_invoice_fiscal_position_update

## Describe the bug
The accounting entry is not updated when the tax position is changed

## To Reproduce
**Affected versions**: 13.0

Steps to reproduce the behavior:
1. Install a account location
2. Create a invoice with a fiscal position and add product with tax
3. Change the fiscal position where change type of tax in the product
4. The invoice

[2021-11-09 09:55] legalsylvain opened #1035 "[RFC] Add configuration to mark differences when paying invoices"
Hi all, I'd like to know if an OCA module exist to have the possibilility to select automatically correct expense / income account when making approximative payment on invoices.
for the time being, the UI propose all the accounts, that makes no sense + it wastes user's time, and is a source of errors

![image](https://user-images.githubusercontent.com/3407482/140899189-7a2d502f-700b-40fc-8819-8307

[2021-11-28 12:11] #109 closed, assigned to nobody

[2021-11-28 12:11] #115 closed, assigned to nobody

[2021-11-29 15:32] iwkse commented on #792
Working on account_invoice_validation_queued and sale_order_invoicing_queued

[2021-11-30 17:37] steeluis opened #1047 "[13.0] stock_picking_invoicing won´t create invoice from purchase picking"
## Module Name
stock_picking_invoicing 13.0.3.1.0

## Describe the bug

## To Reproduce
**Affected versions**:
Odoo EE 13.0

Steps to reproduce the behavior:
1. In a received purchase stock.picking; invoice state = 2binvoiced (in picking and its lines)
2. Click green Button: CREATE INVOICE

3. You would get Pop window: **"Create Customer Invoice"**
_(but it should be a Supplier invoice)_

4. Click

[2021-11-30 17:54] steeluis commented on #1047
Just checked in runbot works as expected; and in my database, this bug only aplies to some pickings

[2021-12-08 14:55] koenloodts commented on #1022
account_invoice_check_total https://github.com/OCA/account-invoicing/pull/1057

[2021-12-09 09:51] francesco-ooops commented on #864
@pedrobaeza as far as you know, is there any other module in versions 13/14 providing the same features as account_group_invoice_line or does it need porting to 13 and 14?

Thanks!

[2021-12-09 10:39] pedrobaeza commented on #864
No, there isn't any, and my advice is that you don't do such thing.

[2021-12-09 10:41] francesco-ooops commented on #864
why so? I wouldn't port it myself obviously.

[2021-12-09 10:42] pedrobaeza commented on #864
You need to completely change the way Odoo works now (an invoice is the journal entry itself), for no real gain. There's no problem in having millions of journal items.

[2021-12-09 10:48] francesco-ooops commented on #864
Thanks a lot for the explanation.
It's not easy to assess whether a module should be ported to the next version (whether the feature is native in the new version, it's deprecated, or it didn't make any sense in the first place)

[2021-12-14 09:42] rven commented on #1022
Working on
- account_invoice_base_invoicing_mode https://github.com/OCA/account-invoicing/pull/1061
- account_invoice_mode_monthly #1062

[2021-12-17 15:17] koenloodts commented on #1022
account_invoice_refund_link https://github.com/OCA/account-invoicing/pull/1066

[2021-12-17 15:40] koenloodts commented on #1022
account_invoice_search_by_reference https://github.com/OCA/account-invoicing/pull/1067

[2022-01-04 07:02] fgarcia-humanoide commented on #792
Please include this module in the list of "modules to migrate"

account_invoice_tax_note

[2022-01-04 15:36] jeroenev commented on #1022
account_invoice_section_sale_order #1072

[2022-01-09 12:12] #159 closed, assigned to max3903

[2022-01-20 03:50] IvanD00 opened #1083 "account_invoice_triple_discount is not working"
## Module
account_invoice_triple_discount

## Describe the bug
TypeError: _get_price_total_and_subtotal_model() takes 9 positional arguments but 10 were given

## To Reproduce
V 14

Steps to reproduce the behavior:
1.add data in Dis1,Dis2 and Dis2
2.Calculation is working
3.When click save button,can not save

**Expected behavior**
A clear and concise description of what you expected to happen.

*

[2022-01-20 03:56] #1083 closed, assigned to nobody

[2022-01-20 03:56] IvanD00 commented on #1083
It's Ok now

[2022-01-21 11:31] JoanMForgeFlow commented on #1022
want to migrate: account_invoice_tax_required

[2022-01-21 13:44] nicomacr commented on #1022
Working on `account_invoice_fiscal_position_update:` https://github.com/OCA/account-invoicing/pull/1084

[2022-01-30 12:11] #175 closed, assigned to nobody

[2022-01-31 18:03] rolandojduartem commented on #792
Working on account_invoice_change_currency

[2022-02-03 09:08] sergioeix opened #1093 "[13cm] account_global_discount journal item on journal entry without partner"
## Module
account_global_discount
## Describe the bug
When the journal entries with global discount on the configured accounts are created this journal items dont have a partner

## To Reproduce
**Affected versions**:13 and other versions
Steps to reproduce the behavior:
1. Make an invoice with global discount
2. Check the journal items of the journal entry (incoice)
3. The accounts configured for

[2022-02-26 16:06] bosd commented on #980
I'm using it in production without any major problems.
There seems to be a small bug.
After the installation you need to set the Invoiceline description on already exsisting projects.
Otherwise it will throw an server error.

(Though I already opened an issue about this, but cannot find it)

[2022-02-26 16:08] bosd commented on #980
found it here: https://github.com/OCA/account-invoicing/pull/897#pullrequestreview-861434986
@dstainhauser  Is this similar to your issue?

[2022-02-28 10:00] fredzamoabg commented on #792
working on `account_invoice_merge`

[2022-03-02 11:43] iggups opened #1107 "[13.0][14.0] account_invoice_fixed_discount wrong tax"
Hi,
I discovered a problem when creating invoices out of a sales order with a fixed discount. The tax amount on the created invoice doesn't get calculated correctly. This behavior occurs when also using the module `sale-workflow/sale_fixed_discount`.

Reproduce:

1. Create a sales order with:
Product with €390 unit price, €100 discount = €290 line total. Tax with 19% results in €55.10
2. Confirm t

[2022-03-06 12:13] #194 closed, assigned to nobody

[2022-03-11 07:01] bosd opened #1112 "sale_timesheet_invoice_description no description on reinvoiced lines"
## sale_timesheet_invoice_description

## On re-invoicing hours, no description is added on the invoice
When hours are included on an invoice. You cancel the invoice. Re-invoice those hours on a new invoice, there is no invoice line description.

## To Reproduce
**Affected versions**:
8-14.0

Steps to reproduce the behavior:
1. Use the regular hours saleflow
(create servicable product, service pro

[2022-03-13 12:13] #221 closed, assigned to nobody

[2022-03-15 07:50] rven commented on #1022
Working on sale_order_invoicing_grouping_criteria https://github.com/OCA/account-invoicing/pull/1114

[2022-03-15 17:59] pedrobaeza commented on #1093
I have just tried, and it's putting the partner.

[2022-03-18 11:23] vvrossem commented on #1022
account_move_tier_validation #1120

[2022-03-28 10:01] sergioeix commented on #1093
Lets close this, it was my fault.

[2022-03-28 10:01] #1093 closed, assigned to nobody

[2022-04-01 11:08] theangryangel commented on #1022
sale_order_invoicing_queued - https://github.com/OCA/account-invoicing/pull/1126

[2022-04-03 12:14] #234 closed, assigned to nobody

[2022-04-06 12:08] nicomacr commented on #1022
account_invoice_pricelist #1111

[2022-04-10 12:13] #235 closed, assigned to nobody

[2022-04-12 14:18] konykon opened #1137 "[12.0] account_invoice_section_sale_order: Backport of counterpart module of version 14.0"
We found this odoo v14.0 module https://github.com/OCA/account-invoicing/tree/14.0/account_invoice_section_sale_order which implements the functionality we need in our project, but we are using odoo v12.0.
Here is a Pull Request with the module adapted for odoo v12.0.
#1136

[2022-04-26 17:42] ramiadavid commented on #1022
I am migrating the account_invoice_triple_discount module but the module is not in the list, is it possible to add it?

[2022-04-26 20:24] HaraldPanten commented on #1022
Done

[2022-05-14 20:40] rolandojduartem opened #1157 "[14.0] account_invoice_line_description: Tests are red in the pull requests"
Hi @Tecnativa and @ernestotejeda, I noticed that the tests are red because of this module, you can see this here https://github.com/OCA/account-invoicing/pull/1104, we tried with the changes of that pull request and without them and the result persists. Please, may you fix it?

## Module
account_invoice_line_description

## Traceback

Traceback: https://gist.github.com/rolandojduartem/c54d8c5809aa

[2022-05-15 12:16] #277 closed, assigned to nobody

[2022-05-16 09:27] gcobachoesment commented on #383
Hello, we are going to make the change as soon as possible, at least for our use, requested by our financial director, as GSLablt comments, we do not have control over the supplier's invoice number.

[2022-05-17 17:02] rolandojduartem commented on #1022
Working on account_invoice_change_currency #1161

cc @luisg123v @moylop260

[2022-05-17 17:13] 26hpredraglazarevic commented on #1022
migrating purchase_stock_picking_return_invoicing #1162

[2022-05-18 10:58] yankinmax commented on #1022
stock_picking_invoicing_incoterm
https://github.com/OCA/account-invoicing/pull/1163

[2022-05-19 19:05] rolandojduartem opened #1164 "[15.0] account_invoice_fiscal_position_update: Tests are red in the pull requests"
Hi @Tecnativa, @nicomacr and @willytal, I noticed that the tests are red because of this module, you can see this here https://github.com/OCA/account-invoicing/pull/1161. Maybe the solution may be related to the merged fix in 14.0 here https://github.com/OCA/account-invoicing/pull/1141. Please, may you fix it?

## Module
account_invoice_fiscal_position_update

## Describe the bug
A clear and conci

[2022-05-22 22:41] ramiadavid commented on #1022
migrating account_invoice_triple_discount #1144

[2022-05-27 11:29] #349 closed, assigned to nobody

[2022-06-05 12:14] #310 closed, assigned to nobody

[2022-06-10 14:30] matteoopenf commented on #1157
@moylop260  or @luisg123v  can you fix it?

[2022-06-10 14:33] pedrobaeza commented on #1157
On the merge moment, it was green, so it should be a change in Odoo upstream.

[2022-06-12 12:14] #315 closed, assigned to nobody

[2022-06-12 12:14] #317 closed, assigned to nobody

[2022-06-12 12:14] #318 closed, assigned to nobody

[2022-06-13 05:44] JuanyDForgeflow commented on #1157
@rolandojduartem @matteoopenf I fixed it here https://github.com/OCA/account-invoicing/pull/1172

[2022-06-13 12:17] tafaRU commented on #1157
From which I extracted https://github.com/OCA/account-invoicing/pull/1175

[2022-06-13 12:52] #1157 closed, assigned to nobody

[2022-06-22 14:49] serbata opened #1187 "[10.0] stock_picking_invoicing: 'module' object has no attribute 'first'"
## Module
stock_picking_invoicing

## Describe the bug
I cant do anything, because the import of field dont have first() function and that is breaking the code.

## To Reproduce
Install stock_picking_invoicing v.10.0 - and try the wizard Create Draft Invoices

**Additional context**
I only want to know if i need to install another module for the method first or its just a bad instalation

[2022-06-30 11:50] serbata opened #1192 "[10.0] stock_picking_invoicing: 'module' object has no attribute 'first' #1187"
Hello,
Im trying to install the stock_picking_invoicing module for Odoo v.10, and it appears that first method is not define in fields.
Can someone help me with this problem.
Thanks in advance.

[2022-07-03 12:15] #355 closed, assigned to nobody

[2022-07-05 09:29] AaronHForgeFlow commented on #1187
Are you able to reproduce it in runboat?

[2022-07-17 12:15] #377 closed, assigned to nobody

[2022-07-24 12:16] #379 closed, assigned to nobody

[2022-07-31 12:17] #400 closed, assigned to nobody

[2022-08-01 17:58] pedrobaeza commented on #980
Already migrated

[2022-08-01 17:58] #980 closed, assigned to nobody

[2022-08-12 10:02] BT-jcolmeiro commented on #1022
account_invoice_validation_queued #1210

[2022-08-16 16:26] LudLaf commented on #792
I am migrating `account_invoice_supplierinfo_update` to version 14.0 #1216

[2022-08-17 15:25] LudLaf commented on #792
I'm migrating `account_invoice_supplierinfo_update_discount` to version 14.0

[2022-08-18 15:34] douglascstd opened #1217 "[14.0] Possibility to fix taxes rounding issue on customer invoice"
On the Customer Invoice, in some cases the taxes calculated based on rate (%) need to be ajusted regarding the method of rounding.
It's only permited on Vendor Bill

### Vendor Bill (with the editor pencil)
![image](https://user-images.githubusercontent.com/20867090/185434418-286eb47c-4012-4791-a0b1-3e5d98cab76a.png)

### Customer Invoice (Without the editor pencil)
![image](https://user-images.gi

[2022-08-18 23:52] gdgellatly opened #1220 "14.0 account_invoice_pricelist test failures"
## Module
Account Invoice Pricelist

## Describe the bug
Tests failing. No further investigation yet

## To Reproduce
**Affected versions**: 14.0

Steps to reproduce the behavior:
1. Run tests on repo

**Expected behavior**
Green

**Additional context**
[code]

[2022-08-21 12:15] #436 closed, assigned to nobody

[2022-08-21 23:29] gdgellatly commented on #1220
Latest tests green, no idea

[2022-08-21 23:37] gdgellatly commented on #1220
Now red again. Wow this is some issue. Loading order?

[2022-08-22 06:38] pedrobaeza commented on #1220
I think this has to be with the execution hour, as if it's around midnight, timezone glitches happen.

[2022-08-24 05:38] flotho commented on #1107
Hi, thanks for this report.
We also experiencing the same issue in V14.0 when coming from sale order or any module where discount_fixed is set programmatically.
Could you update the name of your issue by adding 14.0 to match with this case.
I'll try your patch

[2022-08-24 05:47] flotho commented on #906
duplicate #1107

[2022-08-24 05:49] flotho commented on #818
duplicate of #1107

[2022-08-26 19:41] emiliano-novobi commented on #1022
**account_invoice_fixed_discount** is missing in this list: https://github.com/OCA/account-invoicing/tree/14.0/account_invoice_fixed_discount.

I've found a PR: https://github.com/OCA/account-invoicing/pull/1186

[2022-08-30 15:59] LudLaf commented on #1022
I'm migrating `sale_timesheet_invoice_description` to version 15.0

[2022-09-17 16:09] cscocca opened #1240 "Account Invoice Triple Discount does not compute correctly price_subtotal"
The module does not compute correctly the `price_subtotal` field because the price rounding feature.

## Module
account_invoice_triple_discount

## Describe the bug
When the invoice has a price and a discount (just one discount can reproduce the issue) that produce a discounted price with more decimals than price rounding setting so the `price_subtotal` is wrong.

## To Reproduce
An example is:
qt

[2022-09-18 12:18] #466 closed, assigned to nobody

[2022-09-18 13:10] legalsylvain commented on #1240
Could you add in a PR a test that is failing ?
Thanks !

[2022-09-22 15:19] #1033 closed, assigned to nobody

[2022-09-24 17:26] cscocca commented on #1240
Just added
https://github.com/OCA/account-invoicing/pull/1242

[2022-09-26 08:55] kyawsawshein opened #1244 "Bug account_invoice_fixed_discount when duplicate invoice"
## Module
 account_invoice_fixed_discount (13.0)

## Describe the bug
 When duplicate the invoice which had discount fixed fully amount and
 Invoice Date last then current date
 bug. "float division by zero"

## To Reproduce
**Affected versions**:

Steps to reproduce the behavior:
1. Invoice date last then current date and fully discount fixed in invoice line
2. Duplicate this invoice
3. get a bug

[2022-10-03 16:19] sbidoul opened #1250 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [x] account_global_discount - By @pedrobaeza - #1724
- [x] account_invoice_alternate_payer - By @ChrisOForgeFlow - #1492
- [x] account_invoice_blocking - By @AnizR - #1258
- [x] account_invoice_change_currency - By @ljsalvatierra-factorlibre - #1261
- [x] account_invoice_check_picking_date - By

[2022-10-03 19:28] ramiadavid commented on #1240
@legalsylvain @c-amara

I have the same problem, even using only Odoo's default discount field and the problem is here
[code]
To calculate the taxes here the unit price with the aggregated discounts is computed, but when saving the value in the line Odoo rounds to the decimals by default and this produces an inaccuracy when calculating the taxes and the base especially when the line contains many

[2022-10-07 09:08] SoniaViciana commented on #1250
* account_invoice_check_total -> https://github.com/OCA/account-invoicing/pull/1253

[2022-10-07 12:14] arosell-hsco commented on #1022
Is there a reason `stock_picking_invoicing` to not listed in the migration list?

[2022-10-09 12:19] #512 closed, assigned to nobody

[2022-10-13 06:21] ljsalvatierra-factorlibre commented on #1250
Hi @sbidoul

I have an open PR -> https://github.com/OCA/account-invoicing/pull/1261

Also, I am currently working on migrating `account_invoice_fiscal_position_update`.

[2022-10-14 07:49] ljsalvatierra-factorlibre commented on #1250
Hi @sbidoul

I have now two open PRs and currently working on migrating `account_invoice_refund_link`.

https://github.com/OCA/account-invoicing/pull/1261

https://github.com/OCA/account-invoicing/pull/1263

[2022-10-19 18:17] ramiadavid commented on #1250
Hi @sbidoul
 I am currently working on migrating `acount_invoice_triple_discount`

[2022-10-21 15:05] kirca commented on #1022
`account_global_discount` in #1271

[2022-10-23 12:21] #539 closed, assigned to nobody

[2022-11-06 12:17] #554 closed, assigned to nobody

[2022-11-10 12:51] jguenat commented on #792
working on account_invoice_mass_sending #1282

[2022-11-13 12:18] #563 closed, assigned to nobody

[2022-11-13 12:18] #565 closed, assigned to nobody

[2022-11-20 12:15] #574 closed, assigned to nobody

[2022-11-21 18:24] rafaelbn opened #1291 "[ADD] partner_account_journal_default"
Hello,

We are going to develop a module in order to set  in partner a default purchase journal in a similar way than payment_term

Partner will have in accounting a Journal for sales and a Journal for purchase and in the moment you set the partner in the invoice the journal of the partner is set in the invoice. Standard behaviour is that the first journal (sequence) of the account move type is se

[2022-11-21 19:23] legalsylvain commented on #1291
I'm interessed by this feature. (For customer and supplier invoices)
Please ping me when the module is available.
Thanks !

[2022-11-21 19:34] bodedra commented on #1291
+1 account_journal_partner_default

[2022-11-22 10:49] rafaelbn commented on #1291
Hello @bodedra usually name of module beging with the main model they modify something, in this case res.partner so I think is better

`partner_account_journal_default`

Thank you! 😄

[2022-11-23 08:32] JavierIniesta commented on #1250
Hi @sbidoul !

I am currently working on migrating `sale_order_invoicing_grouping_criteria`

[2022-11-24 11:08] mourad-ehm commented on #1250
HI @JavierIniesta,
Thanks for migration.
Could you split sale_order_invoicing_grouping_criteria in 2 modules ?
invoicing_grouping_criteria and sale_order_invoicing_grouping_criteria .
invoicing_grouping_criteria  can be used with the module https://github.com/OCA/account-invoicing/tree/14.0/account_invoice_merge

[2022-11-27 12:14] #427 closed, assigned to nobody

[2022-11-28 13:10] mourad-ehm commented on #1250
Hi @sbidoul,
What do you think about my suggestion ?

[2022-11-28 15:37] pedrobaeza commented on #1250
The module is too simple to be split IMO. If you want compatibility with `account_invoice_merge`, put the needed hooks in the base one, and develop `account_invoice_merge_grouping_criteria` o similar.